# Node modules
node_modules
npm-debug.log
yarn-error.log

# Angular build output
dist

# Environment files (if any)
.env
*.env

# Editor and OS-specific files
*.swp
*.log
.DS_Store

Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
.vscode
