spring:
  application:
    name: NotificationService
  config:
    import: optional:file:.env[.properties]
  mail:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

springdoc:
  default-produces-media-type: application/json

server:
  port: 8082


logging:
  level:
    root: INFO
    org.kohsuke.github.GitHubClient: DEBUG
