spring:
  application:
    name: NotificationService
  config:
    import: optional:file:.env[.properties]
  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:1025}
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

springdoc:
  default-produces-media-type: application/json

server:
  port: 8082

nats:
  enabled: true
  timeframe: ${MONITORING_TIMEFRAME:7}
  durableConsumerName: ${NATS_DURABLE_CONSUMER_NAME:notification-consumer}
  consumerInactiveThresholdMinutes: ${NATS_CONSUMER_INACTIVE_THRESHOLD_MINUTES:5}
  consumerAckWaitSeconds: ${NATS_CONSUMER_ACK_WAIT_SECONDS:30}
  server: ${NATS_SERVER:nats://localhost:4222}
  auth:
    token: ${NATS_AUTH_TOKEN:}

notification:
  email:
    enabled: ${EMAIL_ENABLED:true}
    dev-mode: ${EMAIL_DEV_MODE:true}
    from: ${EMAIL_FROM:helios@aet.cit.tum.de}

logging:
  level:
    root: INFO
    org.kohsuke.github.GitHubClient: DEBUG
