services:
  postgres:
    image: 'postgres:16'
    environment:
      POSTGRES_DB: helios
      POSTGRES_PASSWORD: helios
      POSTGRES_USER: helios
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: