openapi: 3.0.1
info:
  title: Helios API
  description: API documentation for the Helios application server.
  contact:
    name: Turker Koc
    email: turker.koc@tum.de
  license:
    name: MIT License
    url: https://github.com/ls1intum/Helios/blob/main/LICENSE
  version: 0.0.1
servers:
- url: /
  description: Default Server URL
paths:
  /status/health:
    get:
      tags:
      - status-controller
      operationId: healthCheck
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/workflows:
    get:
      tags:
      - workflow-controller
      operationId: getAllWorkflows
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowDTO"
  /api/workflows/{id}:
    get:
      tags:
      - workflow-controller
      operationId: getWorkflowById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowDTO"
  /api/workflows/state/{state}:
    get:
      tags:
      - workflow-controller
      operationId: getWorkflowsByState
      parameters:
      - name: state
        in: path
        required: true
        schema:
          type: string
          enum:
          - ACTIVE
          - DELETED
          - DISABLED_FORK
          - DISABLED_INACTIVITY
          - DISABLED_MANUALLY
          - UNKNOWN
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowDTO"
  /api/workflows/repository/{repositoryId}:
    get:
      tags:
      - workflow-controller
      operationId: getWorkflowsByRepositoryId
      parameters:
      - name: repositoryId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowDTO"
  /api/workflows/pr/{pullRequestId}:
    get:
      tags:
      - workflow-run-controller
      operationId: getLatestWorkflowRunsByPullRequestIdAndHeadCommit
      parameters:
      - name: pullRequestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowRunDTO"
  /api/workflows/branch/{branch}:
    get:
      tags:
      - workflow-run-controller
      operationId: getLatestWorkflowRunsByBranchAndHeadCommit
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowRunDTO"
  /api/pullrequests:
    get:
      tags:
      - pull-request-controller
      operationId: getAllPullRequests
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PullRequestInfoDTO"
  /api/pullrequests/{id}:
    get:
      tags:
      - pull-request-controller
      operationId: getPullRequestById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PullRequestInfoDTO"
  /api/environments:
    get:
      tags:
      - environment-controller
      operationId: getAllEnvironments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EnvironmentDTO"
  /api/environments/{id}:
    get:
      tags:
      - environment-controller
      operationId: getEnvironmentById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentDTO"
  /api/environments/repository/{repositoryId}:
    get:
      tags:
      - environment-controller
      operationId: getEnvironmentsByRepositoryId
      parameters:
      - name: repositoryId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EnvironmentDTO"
  /api/deployments:
    get:
      tags:
      - deployment-controller
      operationId: getAllDeployments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeploymentDTO"
  /api/deployments/{id}:
    get:
      tags:
      - deployment-controller
      operationId: getDeploymentById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentDTO"
  /api/deployments/environment/{environmentId}:
    get:
      tags:
      - deployment-controller
      operationId: getDeploymentsByEnvironmentId
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeploymentDTO"
  /api/deployments/environment/{environmentId}/latest:
    get:
      tags:
      - deployment-controller
      operationId: getLatestDeploymentByEnvironmentId
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploymentDTO"
  /api/branches:
    get:
      tags:
      - branch-controller
      operationId: getAllBranches
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BranchInfoDTO"
components:
  schemas:
    RepositoryInfoDTO:
      required:
      - htmlUrl
      - id
      - name
      - nameWithOwner
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        nameWithOwner:
          type: string
        description:
          type: string
        htmlUrl:
          type: string
    WorkflowDTO:
      required:
      - id
      - name
      - path
      - state
      type: object
      properties:
        id:
          type: integer
          format: int64
        repository:
          $ref: "#/components/schemas/RepositoryInfoDTO"
        name:
          type: string
        path:
          type: string
        fileNameWithExtension:
          type: string
        state:
          type: string
          enum:
          - ACTIVE
          - DELETED
          - DISABLED_FORK
          - DISABLED_INACTIVITY
          - DISABLED_MANUALLY
          - UNKNOWN
        url:
          type: string
        htmlUrl:
          type: string
        badgeUrl:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    WorkflowRunDTO:
      required:
      - displayTitle
      - htmlUrl
      - id
      - name
      - status
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        displayTitle:
          type: string
        status:
          type: string
          enum:
          - QUEUED
          - IN_PROGRESS
          - COMPLETED
          - ACTION_REQUIRED
          - CANCELLED
          - FAILURE
          - NEUTRAL
          - SKIPPED
          - STALE
          - SUCCESS
          - TIMED_OUT
          - REQUESTED
          - WAITING
          - PENDING
          - UNKNOWN
        conclusion:
          type: string
          enum:
          - ACTION_REQUIRED
          - CANCELLED
          - FAILURE
          - NEUTRAL
          - SUCCESS
          - SKIPPED
          - STALE
          - TIMED_OUT
          - STARTUP_FAILURE
          - UNKNOWN
        htmlUrl:
          type: string
    PullRequestInfoDTO:
      required:
      - additions
      - commentsCount
      - deletions
      - headSha
      - htmlUrl
      - id
      - isDraft
      - isMerged
      - number
      - state
      - title
      type: object
      properties:
        id:
          type: integer
          format: int64
        number:
          type: integer
          format: int32
        title:
          type: string
        state:
          type: string
          enum:
          - OPEN
          - CLOSED
        isDraft:
          type: boolean
        isMerged:
          type: boolean
        commentsCount:
          type: integer
          format: int32
        author:
          $ref: "#/components/schemas/UserInfoDTO"
        assignees:
          type: array
          items:
            $ref: "#/components/schemas/UserInfoDTO"
        repository:
          $ref: "#/components/schemas/RepositoryInfoDTO"
        additions:
          type: integer
          format: int32
        deletions:
          type: integer
          format: int32
        headSha:
          type: string
        mergedAt:
          type: string
          format: date-time
        closedAt:
          type: string
          format: date-time
        htmlUrl:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserInfoDTO:
      required:
      - avatarUrl
      - htmlUrl
      - id
      - login
      - name
      type: object
      properties:
        id:
          type: integer
          format: int64
        login:
          type: string
        avatarUrl:
          type: string
        name:
          type: string
        htmlUrl:
          type: string
    EnvironmentDTO:
      required:
      - id
      - name
      type: object
      properties:
        repository:
          $ref: "#/components/schemas/RepositoryInfoDTO"
        id:
          type: integer
          format: int64
        name:
          type: string
        url:
          type: string
        htmlUrl:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    DeploymentDTO:
      required:
      - environment
      - id
      - ref
      - sha
      - statusesUrl
      - task
      - url
      type: object
      properties:
        id:
          type: integer
          format: int64
        repository:
          $ref: "#/components/schemas/RepositoryInfoDTO"
        url:
          type: string
        statusesUrl:
          type: string
        sha:
          type: string
        ref:
          type: string
        task:
          type: string
        environment:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    BranchInfoDTO:
      required:
      - commit_sha
      - name
      type: object
      properties:
        name:
          type: string
        commit_sha:
          type: string
        repository:
          $ref: "#/components/schemas/RepositoryInfoDTO"
