openapi: 3.0.1
info:
  title: Helios API
  description: API documentation for the Helios application server.
  contact:
    name: Turker Koc
    email: turker.koc@tum.de
  license:
    name: MIT License
    url: https://github.com/ls1intum/Helios/blob/main/LICENSE
  version: 0.0.1
servers:
- url: /
  description: Default Server URL
paths:
  /status/health:
    get:
      tags:
      - status-controller
      operationId: healthCheck
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/workflows/pr/{pullRequestId}/commit/{commitSha}:
    get:
      tags:
      - workflow-run-controller
      operationId: getLatestWorkflowRunsByPullRequestIdAndHeadCommitSha
      parameters:
      - name: pullRequestId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: commitSha
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowRunDTO"
  /api/workflows/branch/{branch}/commit/{commitSha}:
    get:
      tags:
      - workflow-run-controller
      operationId: getLatestWorkflowRunsByBranchAndHeadCommitSha
      parameters:
      - name: branch
        in: path
        required: true
        schema:
          type: string
      - name: commitSha
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowRunDTO"
  /api/pullrequests:
    get:
      tags:
      - pull-request-controller
      operationId: getAllPullRequests
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PullRequestInfoDTO"
  /api/pullrequests/{id}:
    get:
      tags:
      - pull-request-controller
      operationId: getPullRequestById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PullRequestInfoDTO"
  /api/branches:
    get:
      tags:
      - branch-controller
      operationId: getAllBranches
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BranchInfoDTO"
components:
  schemas:
    WorkflowRunDTO:
      required:
      - displayTitle
      - htmlUrl
      - id
      - name
      - status
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        displayTitle:
          type: string
        status:
          type: string
          enum:
          - QUEUED
          - IN_PROGRESS
          - COMPLETED
          - ACTION_REQUIRED
          - CANCELLED
          - FAILURE
          - NEUTRAL
          - SKIPPED
          - STALE
          - SUCCESS
          - TIMED_OUT
          - REQUESTED
          - WAITING
          - PENDING
          - UNKNOWN
        conclusion:
          type: string
          enum:
          - ACTION_REQUIRED
          - CANCELLED
          - FAILURE
          - NEUTRAL
          - SUCCESS
          - SKIPPED
          - STALE
          - TIMED_OUT
          - STARTUP_FAILURE
          - UNKNOWN
        htmlUrl:
          type: string
    PullRequestInfoDTO:
      required:
      - additions
      - commentsCount
      - deletions
      - headSha
      - htmlUrl
      - id
      - isDraft
      - isMerged
      - number
      - state
      - title
      type: object
      properties:
        id:
          type: integer
          format: int64
        number:
          type: integer
          format: int32
        title:
          type: string
        state:
          type: string
          enum:
          - OPEN
          - CLOSED
        isDraft:
          type: boolean
        isMerged:
          type: boolean
        commentsCount:
          type: integer
          format: int32
        author:
          $ref: "#/components/schemas/UserInfoDTO"
        assignees:
          type: array
          items:
            $ref: "#/components/schemas/UserInfoDTO"
        repository:
          $ref: "#/components/schemas/RepositoryInfoDTO"
        additions:
          type: integer
          format: int32
        deletions:
          type: integer
          format: int32
        headSha:
          type: string
        mergedAt:
          type: string
          format: date-time
        closedAt:
          type: string
          format: date-time
        htmlUrl:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    RepositoryInfoDTO:
      required:
      - htmlUrl
      - id
      - name
      - nameWithOwner
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        nameWithOwner:
          type: string
        description:
          type: string
        htmlUrl:
          type: string
    UserInfoDTO:
      required:
      - avatarUrl
      - htmlUrl
      - id
      - login
      - name
      type: object
      properties:
        id:
          type: integer
          format: int64
        login:
          type: string
        avatarUrl:
          type: string
        name:
          type: string
        htmlUrl:
          type: string
    BranchInfoDTO:
      required:
      - name
      type: object
      properties:
        name:
          type: string
        repository:
          $ref: "#/components/schemas/RepositoryInfoDTO"
