<div class="mt-4 mb-5 flex items-start justify-between">
  @if (query.data(); as branch) {
    <div class="flex flex-col items-start gap-2">
      <div class="mb-1 flex gap-2 items-center flex-wrap">
        <i-tabler name="git-branch" class="text-muted-color !size-5" />
        <h2 class="text-2xl">{{ branch.name }}</h2>
        <div class="flex flex-wrap gap-1">
          @for (releaseCandidateName of branch.releaseCandidateNames; track releaseCandidateName) {
            <p-tag class="text-xs cursor-pointer hover:underline" [routerLink]="['/repo', repositoryId(), 'release', releaseCandidateName]">
              <i-tabler name="tag" class="!size-4" />
              {{ releaseCandidateName }}
            </p-tag>
          }
        </div>
      </div>
      <div class="flex items-center gap-2">
        <h2 class="text-2xl" [innerHTML]="commit()?.message | markdown"></h2>
      </div>
      <div class="block md:hidden">
        @if (isAtLeastMaintainer()) {
          <p-button label="Create Release" (onClick)="isCreateDialogVisible.set(true)">
            <i-tabler name="tag-plus" class="!size-4" />
          </p-button>
        }
      </div>
    </div>
    <div class="hidden md:block">
      @if (isAtLeastMaintainer()) {
        <p-button label="Create Release" (onClick)="isCreateDialogVisible.set(true)">
          <i-tabler name="tag-plus" class="!size-4" />
        </p-button>
      }
    </div>
  } @else {
    <div class="flex flex-col items-start gap-2">
      <p-skeleton width="8rem" height="1rem" />
      <p-skeleton width="10rem" height="2rem" />
    </div>
  }
</div>

<div class="flex flex-col gap-6">
  <app-pipeline [selector]="pipelineSelector()" />
  @if (query.data(); as branch) {
    <app-deployment-selection [sourceRef]="branch.name" [commitSha]="branch.commitSha" />
  }
</div>

@if (commit() !== undefined) {
  <app-release-candidate-create [(isVisible)]="isCreateDialogVisible" [branchName]="branchName()" [headCommit]="commit()!" [repositoryId]="repositoryId()" />
}
