<div class="flex gap-2 items-center justify-between mb-3">
  <div class="flex items-center gap-2 w-full md:w-2/3">
    <p-button (onClick)="toggleFilterPopover($event)">
      @if (showAvailableOnly()) {
        <i-tabler name="filter" />
      } @else {
        <i-tabler name="filter-plus" />
      }
    </p-button>
    <input pInputText id="commit-hash" (input)="onSearch($event)" [value]="searchInput()" type="text" placeholder="Search environments or installed apps" class="w-full" />
    <p-popover #filterPopover>
      <div class="flex flex-col gap-1 p-2">
        <p-button severity="secondary" [text]="showAvailableOnly()" styleClass="w-full justify-start" (click)="onFilterSelect(false)"> All Environments </p-button>
        <p-button severity="secondary" [text]="!showAvailableOnly()" styleClass="w-full justify-start" (click)="onFilterSelect(true)"> Available Only </p-button>
      </div>
    </p-popover>
  </div>
  @if (!hideLinkToList()) {
    <p-button [routerLink]="'../../../environment'">
      <i-tabler name="server-cog" class="!size-5" />
      <span class="hidden md:block">{{ isAdmin() ? 'Manage Environments' : 'Go to Environments' }}</span>
    </p-button>
  } @else {
    @if (isAtLeastMaintainer()) {
      <p-button
        severity="secondary"
        label="Sync Environments"
        (click)="syncEnvironments()"
        pTooltip="May take a moment after changes were made on GitHub"
        tooltipPosition="top"
        class="mr-2"
      >
        <i-tabler name="refresh" size="1.5rem"></i-tabler>
      </p-button>
    }
  }
</div>

@if (!environmentQuery.isPending()) {
  @if (filteredEnvironments().length === 0) {
    @if (searchInput().length === 0 && !showAvailableOnly()) {
      <p>No environments found. Create a new environment to get started.</p>
    } @else if (showAvailableOnly() && searchInput().length === 0) {
      <p>No available (unlocked) environments found.</p>
    } @else {
      <p>No environments found for the search criteria, try something else or adjust filters.</p>
    }
  } @else {
    @for (group of environmentGroups(); track group[0]) {
      @if (group[1].length > 0) {
        <div class="mb-4">
          <h3 class="text-lg font-semibold mb-2">{{ capitalizeFirstLetter(group[0]) }}</h3>
          <p-accordion [multiple]="true">
            @for (environment of group[1]; track environment.id) {
              <app-environment-accordion
                [environment]="environment"
                [deployable]="!!deployable()"
                [canViewAllEnvironments]="!!canViewAllEnvironments()"
                [timeUntilReservationExpires]="timeUntilReservationExpires().get(environment.id)"
                (deploy)="deployEnvironment($event)"
                (unlock)="onUnlockEnvironment($event.event, $event.environment)"
                (extend)="extendLock($event.event, $event.environment)"
                (lock)="lockEnvironment($event)"
                (cancelDeployment)="cancelDeployment($event)"
              >
              </app-environment-accordion>
            }
          </p-accordion>
        </div>
      }
    }
  }
}
