<div class="flex items-center justify-between mb-3">
  <input pInputText id="commit-hash" (input)="onSearch($event)" [value]="searchInput()" type="text" placeholder="Search for installed systems" class="w-1/3" />
  @if (!hideLinkToList()) {
    <p-button [routerLink]="'../../../environment'" class="self-end">{{ isAdmin() ? 'Manage Environments' : 'Go to Environments' }} </p-button>
  }
</div>

<p-accordion [multiple]="true">
  @if (!environmentQuery.isPending() && filteredEnvironments().length === 0) {
    @if (searchInput().length === 0) {
      <p>No environments found. Create a new environment to get started.</p>
    } @else {
      <p>No environments found for the search term, try something else.</p>
    }
  }

  @for (environment of filteredEnvironments(); track environment.id) {
    <p-accordion-panel [value]="environment.id">
      <p-accordion-header>
        <div class="flex gap-2 items-center w-full">
          <div class="flex flex-col gap-1">
            <div class="flex gap-1 items-center mr-3">
              <span [pTooltip]="'Open Environment'" class="cursor-pointer hover:bg-gray-200 px-2 py-1 rounded" (click)="openExternalLink($event, environment)">
                {{ environment.name }}
              </span>

              <app-lock-tag [isLocked]="!!environment.locked"></app-lock-tag>

              @if (environment.latestStatus; as status) {
                <app-environment-status-tag [status]="status" />
              }

              @if (environment.type) {
                <p-tag [value]="formatEnvironmentType(environment.type)" severity="secondary" rounded="true" />
              }
            </div>
            @if (environment.latestDeployment; as deployment) {
              <div class="flex gap-1 items-center text-sm mt-2">
                <app-user-avatar [user]="environment?.latestDeployment?.user" tooltipPosition="top" />
                @if (environment.latestDeployment.user?.name) {
                  {{ environment.latestDeployment.user?.name }} deployed
                }
                @if (environment.latestDeployment.updatedAt) {
                  <span [pTooltip]="getDeploymentTime(environment) || ''">{{ environment.latestDeployment.updatedAt || '' | timeAgo }}</span>
                }
                <app-deployment-state-tag [state]="deployment.state" />
                <p-tag severity="secondary" rounded="true" class="max-w-[350px] flex items-center" [pTooltip]="tooltipTemplate" tooltipPosition="top">
                  <i-tabler name="git-branch" class="!size-5 mr-0.5 flex-shrink-0"></i-tabler>
                  <span class="ml-1 truncate flex-1">{{ deployment.ref }}</span>
                  <ng-template #tooltipTemplate>
                    <div class="flex items-center">{{ deployment.ref }}</div>
                  </ng-template>
                </p-tag>
              </div>
            }
          </div>

          <div class="flex-grow"></div>

          <!-- TODO: Refactor button rendering -->

          @if (environment.locked) {
            <div class="flex gap-1 items-center">
              <app-user-avatar [user]="environment.lockedBy" [toolTipText]="'Locked By'" tooltipPosition="top" />
            </div>
            @if (environment.lockedAt) {
              <app-lock-time [timeLockWillExpire]="environment.lockWillExpireAt"></app-lock-time>
            }
          }
          <div class="flex items-center border border-gray-300 rounded-md overflow-hidden">
            @if (userCanDeploy(environment)) {
              <p-button
                styleClass="p-button-secondary"
                [style]="{
                  padding: '0.5rem 0.75rem',
                  backgroundColor: 'white',
                  color: '#374151',
                  border: 'none',
                  borderRadius: '0',
                }"
                (click)="deployEnvironment(environment); $event.stopPropagation()"
                [disabled]="!userCanDeploy(environment)"
                [pTooltip]="environment.locked ? 'This will deploy to the server.' : 'This will lock the environment then deploy.'"
                tooltipPosition="top"
              >
                <div class="flex items-center">
                  <i-tabler name="cloud-upload" class="w-4 h-4 mr-1.5 flex-shrink-0" />
                  <span>Deploy</span>
                </div>
              </p-button>
              <div class="w-px bg-gray-300 self-stretch"></div>
            }

            @if (environment.enabled) {
              @if (!environment.locked) {
                <p-button
                  styleClass="p-button-secondary"
                  (click)="lockEnvironment(environment); $event.stopPropagation()"
                  [disabled]="!userCanDeploy(environment)"
                  [pTooltip]="getLockTooltip(environment)"
                  tooltipPosition="top"
                >
                  <div class="flex items-center">
                    <i-tabler name="lock" class="w-4 h-4 flex-shrink-0 text-red-500" />
                  </div>
                </p-button>
              } @else {
                @if (isLoggedIn() && (environment.lockReservationWillExpireAt !== null || isCurrentUserLocked(environment) || hasUnlockPermissions())) {
                  @if (userCanDeploy(environment)) {
                    <div class="w-px bg-gray-300 self-stretch"></div>
                  }
                  <p-button
                    styleClass="p-button-danger"
                    [style]="{
                      padding: '0.5rem 0.75rem',
                      backgroundColor: '#DC2626',
                      color: 'white',
                      border: 'none',
                      borderRadius: '0',
                    }"
                    (click)="onUnlockEnvironment($event, environment)"
                    [disabled]="!canUnlock(environment)"
                    [pTooltip]="getUnlockToolTip(environment)"
                    tooltipPosition="top"
                  >
                    <div class="flex items-center">
                      <i-tabler name="lock-open" class="w-4 h-4 flex-shrink-0 text-red-500" />
                      <span>Unlock</span>
                    </div>
                  </p-button>
                }
              }
            }
          </div>
          @if (canViewAllEnvironments()) {
            <!-- Show the disabled tag -->
            @if (!environment.enabled) {
              <p-tag value="Disabled" severity="danger" rounded="true" />
            }
            <a
              icon
              [routerLink]="'/repo/' + environment.repository?.id + '/environment/' + environment.id + '/edit'"
              class="p-button p-button-secondary p-2"
              (click)="$event.stopPropagation()"
            >
              <i-tabler name="pencil" />
            </a>
          }
          <span class="w-2"></span>
        </div>
      </p-accordion-header>
      <p-accordion-content>
        <div class="flex w-full flex-col gap-4">
          <!-- Toggle Button -->
          <div class="flex justify-end gap-2">
            <span class="text-gray-500">Details</span>
            <p-toggleswitch [ngModel]="showLatestDeployment" (click)="showLatestDeployment = !showLatestDeployment" />
            <span class="text-gray-500">Deployment</span>
          </div>

          <!-- Conditionally display information based on the toggle -->
          @if (showLatestDeployment) {
            <div class="flex w-full">
              <app-deployment-stepper [deployment]="environment.latestDeployment" class="w-full" />
            </div>
          } @else {
            <div class="flex w-full">
              <div class="flex flex-col gap-1">
                @if (environment.latestDeployment; as deployment) {
                  <app-environment-deployment-info class="max-w-2xl" [deployment]="deployment" [repositoryId]="environment.repository?.id || 0" />
                }
              </div>
              <div class="flex-grow"></div>
              <div class="flex flex-col gap-1">
                @if (environment.latestStatus; as status) {
                  <app-environment-status-info class="max-w-xs mt-2 ml-14" [status]="status" />
                }
              </div>
            </div>
          }

          <!-- Footer links and tags -->
          <div class="flex gap-4 items-center justify-between">
            <div class="flex gap-1 mt-2 items-center">
              <a
                icon
                [routerLink]="'/repo/' + environment.repository?.id + '/environment/' + environment.id + '/history'"
                class="p-button p-button-text text-gray-500 py-2 flex items-center"
              >
                <i-tabler class="mr-1" name="history" />
                View Activity History
              </a>
            </div>
            <div class="flex flex-grow"></div>
            <div class="flex gap-2">
              @for (installedApp of environment.installedApps; track installedApp) {
                <p-tag class="bg-gray-300 gap-0">{{ installedApp }}</p-tag>
              }
            </div>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  }
</p-accordion>
