@import "tailwindcss";
@import "tailwindcss/preflight";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
}

@layer tailwind-utilities {
  @tailwind utilities;
}

@layer base {

}

