<!-- Sidebar Wrapper (Two-column Layout) -->
@if (repositoryId()) {
  <div
    class="flex h-full mr-4 bg-primary transition-all duration-300 ease-in-out relative text-white"
    [ngClass]="{ 'w-2': !isVisible(), 'w-16': isVisible() && !isExpanded(), 'w-48': isVisible() && isExpanded() }"
  >
    <!-- Left Section: Main Navigation -->
    @if (isVisible()) {
      <div class="flex flex-col p-3 items-center justify-between w-full">
        <!-- Repository Info (Avatar + Full Name) -->
        <div class="flex items-center gap-2 w-full rounded-xl transition-all" [ngClass]="[isExpanded() ? 'justify-start' : 'justify-center']">
          <!-- Repository Initials Avatar -->
          <p-avatar label="{{ repositoryQuery.data()?.name | slice: 0 : 1 }}" [pTooltip]="isExpanded() ? undefined : repositoryQuery.data()?.nameWithOwner" size="normal" />

          <!-- Show Full Repository Name When Expanded -->
          @if (isExpanded()) {
            <div>
              <div class="text-sm font-medium truncate flex-1">{{ repositoryQuery.data()?.name }}</div>
              @if (repositoryQuery.data()?.nameWithOwner; as nameWithOwner) {
                <div class="text-xs font-medium truncate flex-1">{{ nameWithOwner.split('/')[0] || '' }}</div>
              }
            </div>
          }
        </div>

        <p-divider />

        <!-- Repository pages -->
        <div class="flex flex-col gap-2 w-full">
          @for (item of items(); track item.label) {
            @if (!item.showAtBottom) {
              <a
                class="p-button rounded-xl p-2 flex gap-2 items-center transition-all w-full"
                [class]="isExpanded() ? 'justify-start' : 'justify-center'"
                [routerLink]="item.path"
                [pTooltip]="!isExpanded() ? item.label : undefined"
                routerLinkActive="!bg-primary-emphasis"
              >
                <i-tabler [name]="item.icon" class="!size-6 !stroke-1"></i-tabler>
                @if (isExpanded()) {
                  <div class="whitespace-nowrap text-xs">{{ item.label }}</div>
                }
              </a>
            }
          }
        </div>

        <span class="flex-grow"></span>

        <!-- Lock Info -->
        <app-user-lock-info />

        @if (bottomItems().length > 0) {
          <p-divider />
        }

        <div class="flex flex-col gap-3 w-full">
          @for (item of bottomItems(); track item.label) {
            @if (item.showAtBottom) {
              <a
                class="p-button rounded-xl p-2 flex gap-2 items-center transition-all w-full"
                [class]="isExpanded() ? 'justify-start' : 'justify-center'"
                [routerLink]="item.path"
                routerLinkActive="!bg-primary-emphasis"
                [pTooltip]="!isExpanded() ? item.label : undefined"
              >
                <i-tabler [name]="item.icon" class="!size-6 !stroke-1"></i-tabler>
                @if (isExpanded()) {
                  <span class="whitespace-nowrap text-xs">{{ item.label }}</span>
                }
              </a>
            }
          }
        </div>
      </div>

      <!-- Right Section: Small Toggle Button -->
      <div class="absolute -right-4 top-1/2 -translate-y-10 z-10">
        <button class="h-6 w-6 flex items-center justify-center bg-primary-emphasis rounded-md hover:scale-110 transition-all" (click)="toggleSidebarExpansion()">
          <i-tabler [name]="isExpanded() ? 'chevron-left' : 'chevron-right'" class="!size-4"></i-tabler>
        </button>
      </div>
    }
    <div class="absolute -right-4 top-1/2 -translate-y-20 z-10">
      <button class="h-6 w-6 flex items-center justify-center bg-primary-emphasis rounded-md hover:scale-110 transition-all" (click)="toggleSidebarVisibility()">
        <i-tabler [name]="isVisible() ? 'eye-off' : 'eye'" class="!size-4"></i-tabler>
      </button>
    </div>
  </div>
}
