spring:
    data:
        jpa:
            repositories:
                bootstrap-mode: deferred
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: ${OAUTH_ISSUER_URL}

monitoring:
    # List of repositories to monitor in the format owner/repository
    # Example: ls1intum/Helios or ls1intum/Helios,ls1intum/Artemis
    repositories: ${REPOSITORY_NAME}
    runOnStartup: true
    # Fetching timeframe in days
    timeframe: 7
    # Cooldown in minutes before running the monitoring again
    runOnStartupCooldownInMinutes: ${RUN_ON_STARTUP_COOLDOWN:15}
    repository-sync-cron: "0 0 * * * *"
