spring:
    application:
        name: Helios
    config:
        import: optional:file:.env[.properties]

springdoc:
    default-produces-media-type: application/json

logging:
    level:
        org.kohsuke.github.GitHubClient: INFO