spring:
    datasource:
        driver-class-name: org.postgresql.Driver
        url: ${DATASOURCE_URL}
        username: ${DATASOURCE_USERNAME}
        password: ${DATASOURCE_PASSWORD}
    flyway:
        enabled: true
        url: ${DATASOURCE_URL}
        user: ${DATASOURCE_USERNAME}
        password: ${DATASOURCE_PASSWORD}
        baselineOnMigrate: true
        baseline-version: 1
    jpa:
        database: POSTGRESQL
        show-sql: false
        hibernate:
            ddl-auto: validate
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: ${OAUTH_ISSUER_URL}

logging:
    level:
        de.tum.cit.aet.helios: DEBUG

nats:
    enabled: true
    timeframe: ${MONITORING_TIMEFRAME:7}
    durableConsumerName: ""
    server: ${NATS_SERVER}
    auth:
        token: ${NATS_AUTH_TOKEN}


github:
    # Personal Access Token
    authToken: ${GITHUB_AUTH_TOKEN:}
    # GitHub App configuration
    organizationName: ${ORGANIZATION_NAME}
    appName: ${GITHUB_APP_NAME:}
    appId: ${GITHUB_APP_ID:}
    clientId: ${GITHUB_CLIENT_ID:}
    installationId: ${GITHUB_INSTALLATION_ID:}
    privateKeyPath: ${GITHUB_PRIVATE_KEY_PATH:}

http:
    cache:
        enabled: true
        ttl: 500
        # in MB
        size: 50


monitoring:
    # List of repositories to monitor in the format owner/repository
    # Example: ls1intum/Helios or ls1intum/Helios,ls1intum/Artemis
    repositories: ${REPOSITORY_NAME}
    runOnStartup: true
    # Fetching timeframe in days
    timeframe: 7
    # Cooldown in minutes before running the monitoring again
    runOnStartupCooldownInMinutes: ${RUN_ON_STARTUP_COOLDOWN:15}
    repository-sync-cron: "0 0 * * * *"