spring:
    datasource:
        url: jdbc:h2:mem:testdb
        driver-class-name: org.h2.Driver
        username: sa
        password: password
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: none
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8081/realms/helios-example

nats:
    enabled: false
    timeframe: 0
    server: ""
    durableConsumerName: ""
    auth:
        token: ""

github:
    organizationName: ""
    authToken: ""
    appId: ""
    clientId: ""
    installationId: ""
    privateKeyPath: ""

http:
    cache:
        enabled: false
        ttl: 0
        size: 0

monitoring:
    repositories: ""
    runOnStartup: false
    timeframe: 0
    runOnStartupCooldownInMinutes: 0
    repository-sync-cron: "0 0 5 31 2 ?"

logging:
    level:
        root: INFO
