spring:
    datasource:
        driver-class-name: org.postgresql.Driver
        url: ${DATASOURCE_URL}
        username: ${DATASOURCE_USERNAME}
        password: ${DATASOURCE_PASSWORD}
    jpa:
        database: POSTGRESQL
        show-sql: false
        hibernate:
            ddl-auto: update
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: ${OAUTH_ISSUER_URL}

nats:
    enabled: true
    timeframe: ${MONITORING_TIMEFRAME:7}
    durableConsumerName: ""
    server: ${NATS_SERVER}
    auth:
        token: ${NATS_AUTH_TOKEN}


github:
    organizationName: ${ORGANIZATION_NAME}
    # Can be any OAuth token, such as the PAT
    authToken: ${GITHUB_AUTH_TOKEN:}
    cache:
        enabled: true
        ttl: 500
        # in MB
        size: 50

monitoring:
    # List of repositories to monitor in the format owner/repository
    # Example: ls1intum/Helios or ls1intum/Helios,ls1intum/Artemis
    repositories: ${REPOSITORY_NAME}
    runOnStartup: true
    # Fetching timeframe in days
    timeframe: 7
    # Cooldown in minutes before running the monitoring again
    runOnStartupCooldownInMinutes: ${RUN_ON_STARTUP_COOLDOWN:15}
    repository-sync-cron: "0 0 * * * *"

sentry:
  dsn: https://a07d7c305924ed8246351dc5f11864a0@o4508675143499777.ingest.de.sentry.io/4508675150118992
  traces-sample-rate: 1.0
