spring:
    datasource:
        driver-class-name: org.postgresql.Driver
        url: ${DATASOURCE_URL}
        username: ${DATASOURCE_USERNAME}
        password: ${DATASOURCE_PASSWORD}
    flyway:
        enabled: true
        url: ${DATASOURCE_URL}
        user: ${DATASOURCE_USERNAME}
        password: ${DATASOURCE_PASSWORD}
        baselineOnMigrate: false
    jpa:
        database: POSTGRESQL
        show-sql: true
        hibernate:
            ddl-auto: validate
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: ${OAUTH_ISSUER_URL}

helios:
    clientBaseUrl: "http://localhost:4200"

logging:
    level:
        de.tum.cit.aet.helios: DEBUG

nats:
    enabled: true
    timeframe: ${MONITORING_TIMEFRAME:7}
    # Durable consumer name: If provided, the consumer will be durable and resume from its last acknowledged sequence on redeploy.
    durableConsumerName: ${NATS_DURABLE_CONSUMER_NAME:}
    # Inactive threshold (in minutes): Specifies how long (in minutes) an inactive consumer is retained before being removed.
    consumerInactiveThresholdMinutes: ${NATS_CONSUMER_INACTIVE_THRESHOLD_MINUTES:30}
    # Acknowledgment wait (in seconds): Specifies how long NATS waits for a message acknowledgment before resending the message.
    consumerAckWaitSeconds: ${NATS_CONSUMER_ACK_WAIT_SECONDS:60}
    server: ${NATS_SERVER}
    auth:
        token: ${NATS_AUTH_TOKEN}


github:
    # Personal Access Token
    authToken: ${GITHUB_AUTH_TOKEN:}
    # GitHub App configuration
    organizationName: ${ORGANIZATION_NAME:}
    appName: ${GITHUB_APP_NAME:}
    appId: ${GITHUB_APP_ID:}
    clientId: ${GITHUB_CLIENT_ID:}
    installationId: ${GITHUB_INSTALLATION_ID:}
    privateKeyPath: ${GITHUB_PRIVATE_KEY_PATH:}

http:
    cache:
        enabled: true
        # in seconds (7200 = 2 hours)
        ttl: 7200
        # in MB
        size: 50


monitoring:
    # List of repositories to monitor in the format owner/repository
    # Example: ls1intum/Helios or ls1intum/Helios,ls1intum/Artemis
    repositories: ${REPOSITORY_NAME:}
    runOnStartup: ${DATA_SYNC_RUN_ON_STARTUP:true}
    # Fetching timeframe in days
    timeframe: 7
    # Cooldown in minutes before running the monitoring again
    runOnStartupCooldownInMinutes: ${RUN_ON_STARTUP_COOLDOWN:15}
    repository-sync-cron: "0 0 * * * *"