<div class="flex gap-4 items-center mb-4">

  <!-- TODO: the icons are not showing up -->
  <!-- State-Based Tag -->
  @switch (state()) {
    <!-- Success State -->
    @case ('SUCCESS') {
      <p-tag severity="success" [rounded]="true">
        <i-tabler name="check" class="!h-4 !w-4 mr-0.5"></i-tabler>
        Success
      </p-tag>
    }
    <!-- Pending State -->
    @case ('PENDING') {
      <p-tag severity="info" [rounded]="true">
        <i-tabler name="progress" class="!h-4 !w-4 mr-0.5"></i-tabler>
        Pending
      </p-tag>
    }
    <!-- In Progress State -->
    @case ('IN_PROGRESS') {
      <p-tag severity="info" [rounded]="true">
        <i-tabler name="progress" class="!h-4 !w-4 mr-0.5"></i-tabler>
        In Progress
      </p-tag>
    }
    <!-- Queued State -->
    @case ('QUEUED') {
      <p-tag severity="warning" [rounded]="true">
        <i-tabler name="progress" class="!h-4 !w-4 mr-0.5"></i-tabler>
        Queued
      </p-tag>
    }
    <!-- Error State -->
    @case ('ERROR') {
      <p-tag severity="danger" [rounded]="true">
        <i-tabler name="exclamation-circle" class="!h-4 !w-4 mr-0.5"></i-tabler>
        Error
      </p-tag>
    }
    <!-- Failure State -->
    @case ('FAILURE') {
      <p-tag severity="danger" [rounded]="true">
        <i-tabler name="exclamation-mark" class="!h-4 !w-4 mr-0.5"></i-tabler>
        Failure
      </p-tag>
    }
    <!-- Inactive State -->
    @case ('INACTIVE') {
      <p-tag severity="secondary" [rounded]="true">
        <i-tabler name="time-duration-off" class="!h-4 !w-4 mr-0.5"></i-tabler>
        Inactive
      </p-tag>
    }
    <!-- Unknown State -->
    @case ('UNKNOWN') {
      <p-tag severity="secondary" [rounded]="true">
        <i-tabler name="question-mark" class="!h-4 !w-4 mr-0.5"></i-tabler>
        Unknown
      </p-tag>
    }
    <!-- Default (Fallback) State -->
    @default {
      <p-tag severity="secondary" [rounded]="true">
        <i-tabler name="question-mark" class="!h-4 !w-4 mr-0.5"></i-tabler>
        Unrecognized State
      </p-tag>
    }
  }

  <span class="font-semibold">{{ commitMessage() }}</span>
  <div class="flex-grow"></div>
  <div class="flex gap-1 items-center">
    <i-tabler name="calendar" class="text-gray-600" />
    <span>Deployed {{ commitDate() }}</span>
  </div>
  <div class="flex gap-1 items-center">
    <i-tabler name="user" class="text-gray-600" />
    <span>{{ committerName() }}</span>
  </div>
</div>
<div class="flex gap-4 items-center">
  <div class="flex gap-1 items-center">
    <i-tabler name="git-commit" class="text-gray-600" />
    <span>{{ commitHash() }}</span>
  </div>
  <div class="flex gap-1 items-center">
    <i-tabler name="git-branch" class="text-gray-600" />
    <span>{{ branch() }}</span>
  </div>
</div>
