<app-page-heading [repositoryId]="repositoryId()">
  <div heading>Environments</div>
  <div description>
    Environments are the destinations for your deployments. They are fetched from your GitHub repository automatically. In order to create a new environment or update an existing
    one, follow the instructions provided in the
    <a href="https://docs.github.com/en/actions/managing-workflow-runs-and-deployments/managing-deployments/managing-environments-for-deployment">GitHub documentation</a>
  </div>
</app-page-heading>

<app-environment-list-view [editable]="true" [hideLinkToList]="true" />
