<h2 class="text-3xl mb-2">Environments</h2>
<p class="mb-4 max-w-5xl">
  Environments are the destinations for your deployments. They are fetched from your GitHub repository automatically. In
  order to create a new environment or update an existing
  one, follow the instructions provided in the
  <a
    href="https://docs.github.com/en/actions/managing-workflow-runs-and-deployments/managing-deployments/managing-environments-for-deployment">GitHub
    documentation</a>.
</p>

<app-environment-list-view [editable]="true" [hideLinkToList]="true" />