logging:
    level:
        de.tum.cit.aet.helios: DEBUG

nats:
    enabled: true
    timeframe: ${MONITORING_TIMEFRAME:7}
    # Durable consumer name: If provided, the consumer will be durable and resume from its last acknowledged sequence on redeploy.
    durableConsumerName: ${NATS_DURABLE_CONSUMER_NAME:}
    # Inactive threshold (in minutes): Specifies how long (in minutes) an inactive consumer is retained before being removed.
    consumerInactiveThresholdMinutes: ${NATS_CONSUMER_INACTIVE_THRESHOLD_MINUTES:30}
    # Acknowledgment wait (in seconds): Specifies how long NATS waits for a message acknowledgment before resending the message.
    consumerAckWaitSeconds: ${NATS_CONSUMER_ACK_WAIT_SECONDS:60}
    server: ${NATS_SERVER}
    auth:
        token: ${NATS_AUTH_TOKEN}

github:
    # Personal Access Token
    authToken: ${GITHUB_AUTH_TOKEN:}
    # GitHub App configuration
    organizationName: ${ORGANIZATION_NAME:}
    appName: ${GITHUB_APP_NAME:}
    appId: ${GITHUB_APP_ID:}
    clientId: ${GITHUB_CLIENT_ID:}
    installationId: ${GITHUB_INSTALLATION_ID:}
    privateKeyPath: ${GITHUB_PRIVATE_KEY_PATH:}