@if (query.isPending() || query.isError()) {
  <p-table [value]="[1, 2, 3, 4, 5]" styleClass="p-datatable-lg">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="flex items-center gap-2">
            <p-button type="button" outlined disabled size="small">
              <i-tabler name="filter-plus" />
            </p-button>
            <input pInputText type="text" pSize="small" placeholder="Search" class="w-full" disabled />
          </div>
        </th>
        <th>Last Update</th>
        <th class="text-center w-36">Behind | Ahead</th>
        <th class="w-32">Head</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td class="w-36"><p-skeleton></p-skeleton></td>
        <td class="w-32"><p-skeleton></p-skeleton></td>
      </tr>
    </ng-template>
  </p-table>
} @else {
  <!-- Branches Tree Table -->
  <p-treetable #table [value]="featureBranchesTree()" [globalFilterFields]="globalFilterFields" [scrollable]="true" styleClass="p-treetable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <app-table-filter [table]="table" [searchTableService]="searchTableService" />
        </th>
        <th>Last Update</th>
        <th class="text-center w-36">Behind | Ahead</th>
        <th class="w-32">Head</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-branch="rowData">
      <tr [class.bg-gray-50]="branch.isPinned" [ttRow]="rowNode">
        @if (!rowNode.node.subheader) {
          <td class="p-0">
            <div class="flex h-full items-stretch gap-2">
              <div
                class="flex items-center border-r-4 px-2"
                [class]="branch.isPinned ? 'border-r-primary-700' : 'border-r-primary-300'"
                (mouseenter)="isHovered.set(branch.name, true)"
                (mouseleave)="isHovered.set(branch.name, false)"
              >
                <div class="align-middle">
                  @if (!rowNode.node.children && isHovered.get(branch.name) && keycloakService.isLoggedIn()) {
                    @if (branch.isPinned) {
                      <p-button text (onClick)="setPinned($event, branch, false)" class="bg-transparent h-full">
                        <i-tabler name="pinned-off" class="!h-5 !w-5 text-primary-700 hover:text-primary-900" />
                      </p-button>
                    } @else {
                      <p-button text (onClick)="setPinned($event, branch, true)" class="bg-transparent h-full">
                        <i-tabler name="pinned" class="!h-5 !w-5 text-primary-700 hover:text-primary-900" />
                      </p-button>
                    }
                  }
                </div>
              </div>
              <div class="flex items-center py-2 gap-2">
                <p-treeTableToggler [rowNode]="rowNode" />

                <p-tag class="cursor-pointer" (click)="openBranch(branch)">
                  <div class="whitespace-normal inline-flex flex-wrap items-baseline">
                    @for (part of branch.name | highlight: searchTableService.searchValue(); track part.text) {
                      @if (part.highlight) {
                        <mark>{{ part.text }}</mark>
                      } @else {
                        <span>{{ part.text }}</span>
                      }
                    }
                  </div>
                </p-tag>
                @if (branch.isProtected) {
                  <i-tabler name="shield-half" pTooltip="Protected Branch" />
                }
                @if (!rowNode.node.children) {
                  <i-tabler name="external-link" (click)="openLink($event, branch.link)"></i-tabler>
                  <app-workflow-run-status [selector]="{ type: 'branch', branchName: branch.name }"></app-workflow-run-status>
                }
              </div>
            </div>
          </td>
        } @else if (rowNode.node.children.length > 0) {
          <td>
            <div class="flex items-end gap-2 h-10">
              <span class="font-semibold">{{ branch.name }}</span>
            </div>
          </td>
        }
        <td class="whitespace-nowrap">
          @if (branch.updatedBy && branch.updatedAt) {
            <div class="flex gap-1 items-center text-sm">
              <p-avatar [image]="branch.updatedBy?.avatarUrl" shape="circle" class="h-5 w-5" />
              <span>{{ branch.updatedBy?.name }} updated {{ branch.updatedAt | timeAgo }}</span>
            </div>
          }
        </td>

        <td class="w-36 whitespace-nowrap">
          @if (branch.isDefault) {
            <div class="w-full flex justify-center">
              <p-tag value="Default Branch" />
            </div>
          } @else if (branch.behindBy && branch.aheadBy) {
            <div class="w-full flex items-center">
              <div class="w-1/2">
                <div class="text-end text-sm mr-2">{{ branch.behindBy || 0 }}</div>
                <p-progressbar [style]="{ direction: 'rtl' }" styleClass="h-3 rounded-r-none" [value]="calculateProgress(branch.behindBy)" [showValue]="false" />
              </div>
              <p-divider layout="vertical" class="m-0 z-20" styleClass="before:border-black" />
              <div class="w-1/2">
                <div class="text-sm ml-2">{{ branch.aheadBy || 0 }}</div>
                <p-progressbar styleClass="h-3 rounded-l-none" [value]="calculateProgress(branch.aheadBy)" [showValue]="false" />
              </div>
            </div>
          }
        </td>
        <td class="w-32 whitespace-nowrap">
          @if (branch.commitSha) {
            <div class="flex items-center gap-2">
              <i-tabler name="git-commit" class="-mr-2"></i-tabler>
              <span>{{ branch.commitSha.slice(0, 7) }}</span>
              <i-tabler name="external-link" (click)="openLink($event, branch.lastCommitLink)"></i-tabler>
            </div>
          }
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">
          <div class="flex flex-col gap-2 p-20 justify-center items-center">
            <i-tabler name="git-branch" class="!h-20 !w-20 text-red-500" />
            <span class="font-semibold text-xl">There are no branches found matching your filter criteria.</span>
            <span>Try clearing the filter or reloading the page.</span>
            <p-button (click)="searchTableService.clearFilter(table)">Clear Filter</p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-treetable>
}
