<div class="mt-4 mb-5">
  @if (query.data(); as pr) {
    <div class="flex flex-col items-start">
      <div class="flex items-center gap-4 mt-2">
        <app-pull-request-status-icon [pullRequest]="pr" tooltipPosition="top" />

        <!-- PR Title -->
        <h2 class="text-2xl" [innerHTML]="pr.title | markdown"></h2>

        <!-- PR Number -->
        <h2 class="text-2xl">
          <a [href]="pr.htmlUrl" target="_blank" rel="noopener noreferrer" class="text-gray-600 hover:underline"> #{{ pr.number }} </a>
        </h2>
      </div>

      <!-- Merge Statement -->
      @if (pr.author) {
        <div class="flex items-center gap-2 mt-2">
          <!-- Author Avatar -->
          <app-user-avatar [user]="pr.author" toolTipText="Author" tooltipPosition="top" />

          <!-- Author Name and Merge Info -->
          <span class="text-gray-700 text-sm font-semibold"> {{ pr.author.name || pr.author.login }} wants to merge from </span>

          <!-- Branch Name with Icon -->
          <p-tag class="font-normal flex items-center gap-1 px-2 py-1">
            <i-tabler name="git-branch" class="w-4 h-4"></i-tabler>
            <a [href]="'/repo/' + repositoryId() + '/ci-cd/branch/' + encodeURIComponent(pr.headRefName)" target="_blank" rel="noopener noreferrer" class="hover:underline">
              {{ pr.headRefName }}
            </a>
          </p-tag>
        </div>
      }
    </div>
  } @else {
    <div class="flex flex-col items-start gap-2">
      <p-skeleton width="10rem" />
      <div class="flex items-center gap-4">
        <p-skeleton width="8rem" height="2rem" />
      </div>
    </div>
  }
</div>

<div class="flex flex-col gap-6 max-w-6xl mr-4">
  <app-pipeline [selector]="pipelineSelector()" />
  @if (query.data(); as pr) {
    @if (pr.headRefRepoNameWithOwner === pr.repository?.nameWithOwner) {
      <app-deployment-selection [sourceRef]="pr.headRefName" />
    }
  }
</div>
