<div class="mt-4 mb-5 flex items-start justify-between">
  @if (query.data(); as pr) {
    <div class="flex flex-col items-start">
      <span class="mb-1 flex gap-2 items-center">
        <app-pull-request-status-icon class="hidden md:block" [pullRequest]="pr" tooltipPosition="top" />

        <!-- PR Title -->
        <h2 class="text-2xl">
          <span [innerHTML]="pr.title | markdown"></span>
          <!-- PR Number -->
          <a [href]="pr.htmlUrl" target="_blank" rel="noopener noreferrer" class="text-muted-color hover:underline"> #{{ pr.number }} </a>
        </h2>
      </span>

      <!-- Merge Statement -->
      @if (pr.author) {
        <div class="flex items-center gap-2 flex-wrap">
          <div class="flex items-center gap-2">
            <!-- Author Avatar -->
            <app-user-avatar [user]="pr.author" toolTipText="Author" tooltipPosition="top" />

            <!-- Author Name and Merge Info -->
            <span class="text-surface-700 dark:text-surface-300 text-sm font-semibold"> {{ pr.author.name || pr.author.login }} opened a pull request from </span>
          </div>

          <!-- Branch Name with Icon -->
          <p-tag class="flex items-center text-xs">
            <i-tabler name="git-branch" class="!size-3.5"></i-tabler>
            <a [href]="pr.repository?.htmlUrl + '/tree/' + pr.headRefName" target="_blank" rel="noopener noreferrer" class="hover:underline">
              {{ pr.headRefName }}
            </a>
          </p-tag>
        </div>
      }
    </div>
  } @else {
    <div class="flex flex-col items-start gap-2">
      <p-skeleton width="10rem" />
      <div class="flex items-center gap-4">
        <p-skeleton width="8rem" height="2rem" />
      </div>
    </div>
  }
</div>

<div class="flex flex-col gap-6">
  <app-pipeline [selector]="pipelineSelector()" />
  <app-pipeline-test-results [selector]="pipelineSelector()" />
  @if (query.data(); as pr) {
    @if (pr.headRefRepoNameWithOwner === pr.repository?.nameWithOwner) {
      <app-deployment-selection [sourceRef]="pr.headRefName" [commitSha]="pr.headSha" />
    }
  }
</div>
