<div class="flex gap-2 items-center overflow-hidden flex-wrap">
  @if (environment().locked) {
    <div class="flex gap-1 items-center">
      <app-user-avatar [user]="environment().lockedBy" [toolTipText]="'Locked By'" tooltipPosition="top" />
    </div>
    @if (environment().lockedAt) {
      <app-lock-time [timeLockWillExpire]="environment().lockWillExpireAt"></app-lock-time>
    }
  }

  <app-environment-reviewers [environmentId]="environment().id"></app-environment-reviewers>

  <div class="flex items-center overflow-hidden">
    <p-buttongroup>
      <!-- Deploy/Cancel Button -->
      @if (deployable()) {
        @if (isDeploymentInProgress()) {
          <p-button
            class="border-r-2"
            severity="danger"
            (click)="onCancel($event)"
            [disabled]="!canCancelDeployment()"
            [pTooltip]="getCancelDeploymentToolTip()"
            tooltipPosition="top"
          >
            <div class="flex items-center">
              <i-tabler name="x" class="w-4 h-4 mr-1.5 flex-shrink-0" />
              <span>Cancel</span>
            </div>
          </p-button>
        } @else {
          <p-button class="border-r-2" (click)="onDeploy($event)" [disabled]="!canUserDeploy()" [pTooltip]="getDeployTooltip()" tooltipPosition="top">
            <div class="flex items-center">
              <i-tabler name="cloud-upload" class="w-4 h-4 mr-1.5 flex-shrink-0" />
              <span>Deploy</span>
            </div>
          </p-button>
        }
      }

      <!-- Lock/Unlock Controls -->
      @if (environment().enabled && environment().type === 'TEST') {
        @if (!environment().locked) {
          <p-button (click)="onLock($event)" [disabled]="!canUserDeploy()" [pTooltip]="getLockTooltip()" tooltipPosition="top">
            <div class="flex items-center">
              <i-tabler name="lock" class="w-4 h-4 flex-shrink-0 text-red-700" />
            </div>
          </p-button>
        } @else {
          @if (canUnlockShow()) {
            <p-button severity="danger" class="[&>*]:!rounded-none" (click)="onUnlock($event)" [disabled]="!canUnlock()" [pTooltip]="getUnlockToolTip()" tooltipPosition="top">
              <div class="flex items-center">
                <i-tabler name="lock-open" class="w-4 h-4 flex-shrink-0" />
              </div>
            </p-button>
            @if (isCurrentUserLocked()) {
              <p-button severity="success" (click)="onExtend($event)" [disabled]="!canUnlock()" [pTooltip]="'Extend my lock expiration'" tooltipPosition="top">
                <i-tabler name="lock-plus" class="w-4 h-4 flex-shrink-0" />
              </p-button>
            }
          }
        }
      }

      <!-- Approve Button -->
      @if (environment().latestDeployment?.state === 'WAITING' && environment().latestDeployment?.workflowRunHtmlUrl) {
        <p-button
          severity="success"
          (click)="openExternalLink($event, environment().latestDeployment?.workflowRunHtmlUrl)"
          pTooltip="Approve deployment on GitHub"
          tooltipPosition="top"
        >
          <div class="flex items-center">
            <i-tabler name="check" class="w-4 h-4 flex-shrink-0" />
          </div>
        </p-button>
      }
    </p-buttongroup>
  </div>

  <!-- Edit & Disabled Tag -->
  @if (canViewAllEnvironments()) {
    @if (!environment().enabled) {
      <p-tag value="Disabled" severity="danger" rounded="true" />
    }
    <a
      icon
      [routerLink]="'/repo/' + environment().repository?.id + '/environment/' + environment().id + '/edit'"
      class="p-button p-button-text p-button-secondary p-2"
      (click)="$event.stopPropagation()"
    >
      <i-tabler name="pencil" />
    </a>
  }
</div>
