<p-dialog [(visible)]="isVisible" [modal]="true" [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="font-bold text-xl">New Release Candidate</div>
  </ng-template>
  @if (newCommitListQuery.data(); as commitListData) {
    <div class="flex flex-col gap-4">
      <div class="flex gap-1 items-center mb-2">
        <i-tabler name="tag" class="!size-5 text-primary-500" />
        <input pInputText [(ngModel)]="releaseCandidateName" placeholder="Release Candidate Name" pSize="small" />
      </div>
      <div class="flex gap-2">
        <p-tag class="text-xs">
          <i-tabler name="git-branch" class="!size-4" />
          {{ branchName() }}
        </p-tag>
        @if (headCommit()) {
          <p-tag class="text-xs">
            <i-tabler name="git-commit" class="!size-4" />
            {{ headCommit().sha | slice: 0 : 7 }}
          </p-tag>
        } @else {
          <span class="font-semibold">The commit sha could not be loaded.</span>
        }
      </div>
      <!-- Show: behind by, ahead by -->
      <div class="text-sm mt-2">
        The release candidate is <b>behind by {{ commitListData.behindBy || 0 }}</b> and <b>ahead by {{ commitListData.aheadBy || 0 }}</b> commits compared to the latest release
        candidate.
      </div>

      @if (commitListData.commits.length > 0) {
        <span class="text-sm">New commits included in this release candidate:</span>

        <div class="flex flex-col">
          @for (commit of commitListData.commits.slice(0, 3); track commit.sha) {
            <p-card class="p-1 shadow-1">
              <div class="flex flex-col gap-1">
                <!-- Commit Message -->
                <p class="text-sm text-gray-800 line-clamp-1 font-medium">
                  {{ commit.message }}
                </p>

                <!-- Metadata -->
                <div class="flex justify-between items-center text-xs">
                  <div class="flex gap-2 text-gray-500">
                    <span class="font-mono">{{ commit.sha | slice: 0 : 6 }}</span>
                    <span class="text-gray-400">|</span>
                    <span class="truncate max-w-[120px]">{{ commit.authorName }}</span>
                  </div>
                </div>
              </div>
            </p-card>
          }

          <!-- Show: and x more -->
          @if (commitListData.commits.length > 3) {
            <p-card class="p-2 shadow-1">
              <div class="flex gap-2 text-center">
                <span class="text-xs font-medium">and {{ commitListData.commits.length - 3 }} more</span>
              </div>
            </p-card>
          }
        </div>
      }

      <!-- <div class="flex">
        @if (commitListData.commitsLength > 0) {
          <div class="font-semibold">
            <p-button link pTooltip="Commit info can be seen soon!" (onClick)="isCommitListVisible.set(!isCommitListVisible())">
              {{ commitListData.commitsLength }} new commit(s)
            </p-button>
            will be included in this release candidate
          </div>
        } @else if (commitListData.commitsLength == -1) {
          <span class="font-semibold">There is no previous release candidate yet, this will be the first release candidate created on this branch.</span>
        } @else {
          <span class="font-semibold">There is no new commit since the last release candidate, please create one first before creating another release candidate!</span>
        }
      </div> -->
    </div>
  }
  <ng-template #footer>
    <p-button label="Cancel" [text]="true" (click)="onClose()" />
    <p-button label="Save" severity="primary" [disabled]="isIdentical() || releaseCandidateName() === ''" (click)="createReleaseCandidate()" />
  </ng-template>
</p-dialog>
