<p-dialog [(visible)]="isVisible" [modal]="true" [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="font-bold text-xl">New Release Candidate</div>
  </ng-template>
  @if (newCommitListQuery.data(); as commitListData) {
    <div class="flex flex-col gap-4">
      <div class="flex gap-1 items-center mb-2">
        <i-tabler name="tag" class="!size-5" />
        <input pInputText [(ngModel)]="releaseCandidateName" placeholder="Release Candidate Name" pSize="small" />
      </div>
      <div class="flex gap-2">
        <p-tag class="text-xs">
          <i-tabler name="git-branch" class="!size-4" />
          {{ branchName() }}
        </p-tag>
        @if (headCommit()) {
          <p-tag class="text-xs">
            <i-tabler name="git-commit" class="!size-4" />
            {{ headCommit().sha | slice: 0 : 7 }}
          </p-tag>
        } @else {
          <span class="font-semibold">The commit sha could not be loaded.</span>
        }
      </div>

      @if (commitListData.behindBy !== -1 && commitListData.aheadBy !== -1) {
        <div class="text-sm mt-2">
          @if (commitListData.behindBy === 0 && commitListData.aheadBy === 0) {
            This release candidate is <b>identical</b> to the latest release candidate.
          } @else if (commitListData.behindBy > 0 && commitListData.aheadBy === 0) {
            The release candidate is <b>behind by {{ commitListData.behindBy }}</b> commits compared to the latest release candidate.
          } @else if (commitListData.behindBy === 0 && commitListData.aheadBy > 0) {
            The release candidate is <b>ahead by {{ commitListData.aheadBy }}</b> commits compared to the latest release candidate.
          } @else {
            The release candidate is <b>behind by {{ commitListData.behindBy }}</b> and <b>ahead by {{ commitListData.aheadBy }}</b> commits compared to the latest release
            candidate.
          }
        </div>
      }

      @if (commitListData.commits.length > 0) {
        <div class="flex flex-col gap-2">
          <span class="text-xs uppercase tracking-tight font-bold">New commits</span>

          <div class="flex flex-col gap-2">
            @for (commit of commitListData.commits.slice(0, 3); track commit.sha) {
              <div class="p-2 shadow-1 border border-surface-100 rounded-md">
                <div class="flex flex-col">
                  <p class="text-sm text-surface-800 dark:text-surface-200 line-clamp-1 font-medium">{{ commit.message }}</p>

                  <div class="flex justify-between items-center text-xs">
                    <div class="flex gap-2 text-surface-500">
                      <a [href]="commit.url" target="_blank" rel="noopener noreferrer" class="font-mono hover:underline">{{ commit.sha | slice: 0 : 6 }}</a>
                      <span>|</span>
                      <span class="truncate max-w-[120px]">{{ commit.authorName }}</span>
                    </div>
                  </div>
                </div>
              </div>
            }

            @if (commitListData.commits.length > 3) {
              <a [href]="commitListData.compareUrl || '#'" target="_blank" rel="noopener noreferrer" class="hover:underline text-xs text-surface-500"
                >and {{ commitListData.commits.length - 3 }} more</a
              >
            }
          </div>
        </div>
      }
    </div>
  }
  <ng-template #footer>
    <p-button label="Cancel" [text]="true" (click)="onClose()" />
    <p-button label="Save" severity="primary" [disabled]="isIdentical() || releaseCandidateName() === ''" (click)="createReleaseCandidate()" />
  </ng-template>
</p-dialog>
