<h3 class="text-2xl mb-2">Pipeline</h3>

<p-progressSpinner *ngIf="isLoading()" class="w-12 h-12 mx-auto my-4"></p-progressSpinner>

<div *ngIf="pipeline() as pipeline; else noPipeline" class="flex items-start mt-2">
  <ng-container *ngFor="let group of pipeline.groups; last as isLast">
    <p-panel [header]="group.label">
      <div class="flex flex-col gap-4">
        <div *ngFor="let workflowRun of group.runs" class="flex items-center space-x-2">
          <ng-container [ngSwitch]="workflowRun.status">
            <ng-container *ngSwitchCase="'COMPLETED'" [ngSwitch]="workflowRun.conclusion">
              <i-tabler *ngSwitchCase="'SUCCESS'" name="circle-check" class="text-green-500" pTooltip="Success"></i-tabler>
              <i-tabler *ngSwitchCase="'FAILURE'" name="circle-x" class="text-red-500" pTooltip="Failure"></i-tabler>
              <i-tabler *ngSwitchDefault name="progress-help" class="text-gray-500" pTooltip="Unknown"></i-tabler>
            </ng-container>
            <i-tabler *ngSwitchCase="'IN_PROGRESS'" name="progress" class="text-yellow-500" pTooltip="In progress"></i-tabler>
            <i-tabler *ngSwitchDefault name="progress-help" class="text-gray-500" pTooltip="Unknown"></i-tabler>
          </ng-container>

          <!-- Fixed width to ensure consistent alignment -->
          <span class="font-medium w-36 flex items-center">
            <span class="truncate" [pTooltip]="workflowRun.name">{{ workflowRun.name }}</span>
            <a class="ml-1" [href]="workflowRun.htmlUrl" target="_new"><i-tabler name="external-link" class="w-20 h-20"></i-tabler></a>
          </span>
        </div>
      </div>
    </p-panel>

    <!-- Connection line -->
    <div class="w-10 h-px bg-gray-300 mt-7" *ngIf="!isLast"></div>
  </ng-container>
</div>
<ng-template #noPipeline>
  <ng-container *ngIf="!isLoading()">
    <p>The pipeline could not be loaded yet. Make sure that workflows have been triggered for this commit.</p>
  </ng-container>
</ng-template>
