<div class="flex items-center gap-2 w-full">
  @if (searchTableService().filterOptions.length > 0) {
    <p-button (onClick)="toggle($event)" size="small">
      @if (searchTableService().hasActiveFilter()) {
        <i-tabler name="filter" />
      } @else {
        <i-tabler name="filter-plus" />
      }
    </p-button>
  }
  <input
    pInputText
    [(ngModel)]="searchTableService().searchValue"
    type="text"
    pSize="small"
    placeholder="Search"
    class="w-full"
    (input)="searchTableService().onInput(table(), $event)"
  />
</div>

<p-popover #op>
  <div class="flex flex-col gap-1">
    @for (filter of searchTableService().filterOptions; track filter.name) {
      @if (filter.name === searchTableService().activeFilter().name) {
        <p-button severity="secondary" styleClass="w-full justify-start">
          {{ filter.name }}
        </p-button>
      } @else {
        <p-button severity="secondary" text styleClass="w-full justify-start" (click)="searchTableService().selectFilter(filter)">
          {{ filter.name }}
        </p-button>
      }
    }
  </div>
</p-popover>
