<div class="flex items-center gap-2 w-full">
  @if (searchTableService().filterOptions.length > 0) {
    <p-button type="button" outlined (onClick)="toggle($event)" size="small">
      @if (searchTableService().hasActiveFilter()) {
        <i-tabler name="filter" />
      } @else {
        <i-tabler name="filter-plus" />
      }
    </p-button>
  }
  <input
    pInputText
    [(ngModel)]="searchTableService().searchValue"
    type="text"
    pSize="small"
    placeholder="Search"
    class="w-full"
    (input)="searchTableService().onInput(table(), $event)"
  />
</div>

<p-popover #op>
  <div class="flex flex-col gap-4">
    <div>
      <ul class="list-none p-0 m-0 flex flex-col gap-1">
        @for (filter of searchTableService().filterOptions; track filter.name) {
          @if (filter.name === searchTableService().activeFilter().name) {
            <li class="flex items-center gap-2 p-2 bg-gray-700 text-gray-200 cursor-pointer rounded-border">
              {{ filter.name }}
            </li>
          } @else {
            <li class="flex items-center gap-2 p-2 hover:bg-gray-300 cursor-pointer rounded-border" (click)="searchTableService().selectFilter(filter)">
              {{ filter.name }}
            </li>
          }
        }
      </ul>
    </div>
  </div>
</p-popover>
