<app-page-heading>
  <div subheading></div>
  <div class="flex justify-between items-center w-full" heading>
    <div>Connected Repositories</div>
  </div>
  <span description> In the repository list you can find all of the repositories that were added to Helios. </span>
</app-page-heading>

@if (query.isPending() || query.isError()) {
  <p-dataview [value]="[1, 2, 3, 4, 5]" layout="grid" [paginator]="true" [rows]="6">
    <ng-template #header>
      <p-skeleton styleClass="w-full !h-5" />
    </ng-template>
    <ng-template #grid let-projects>
      <div class="flex flex-wrap gap-4 mt-4">
        @for (project of projects; track project) {
          <div class="flex gap-2 flex-col border border-muted-color rounded-2xl p-5 shadow-md w-[32rem]">
            <div class="flex justify-between gap-2">
              <div class="flex gap-2 items-center">
                <p-skeleton shape="circle" styleClass="!size-7" />
                <p-skeleton styleClass="!w-36 !h-6" />
              </div>
              <div class="flex items-center gap-2">
                <p-skeleton styleClass="!w-16" />
              </div>
            </div>
            <p-skeleton styleClass="!w-32" />
            <p-skeleton styleClass="!w-64 h-4" />
            <div class="flex-grow"></div>
            <p-divider class="mb-2 m-0" />
            <div class="text-lg font-medium">Contributors</div>
            <p-avatarGroup class="flex gap-2">
              <p-skeleton shape="circle" styleClass="!size-7" />
              <p-skeleton shape="circle" styleClass="!size-7" />
              <p-skeleton shape="circle" styleClass="!size-7" />
            </p-avatarGroup>
          </div>
        }
      </div>
    </ng-template>
  </p-dataview>
} @else {
  <p-dataview #dataView [value]="query.data()" layout="grid" [paginator]="true" [rows]="6" filterBy="name">
    <ng-template #header>
      <app-table-filter [input]="dataView" [searchTableService]="searchDataViewService" />
      <div class="mb-3"></div>
    </ng-template>
    <ng-template #grid let-projects>
      <div class="flex flex-wrap gap-4 mt-4">
        @for (project of projects; track project.id) {
          <div class="flex gap-2 flex-col border border-muted-color rounded-2xl p-5 shadow-md w-[32rem]">
            <div class="flex justify-between gap-2">
              <div class="flex gap-1 items-center">
                <p-button text (click)="openProjectExternal($event, project)" styleClass="p-1" class="leading-none">
                  <i-tabler name="brand-github" class="!size-4" />
                </p-button>
                <div class="font-bold hover:underline cursor-pointer leading-none text-xl" (click)="navigateToPullRequests(project)">{{ project.name }}</div>
                @if (project.latestReleaseTagName) {
                  <p-tag rounded class="py-0.5 cursor-pointer hover:underline" (click)="navigateToReleases(project)"
                    ><i-tabler name="tag" class="!size-4" />{{ project.latestReleaseTagName }}</p-tag
                  >
                }
              </div>
              <div class="flex items-center gap-2">
                <div class="flex items-center leading-none gap-1 cursor-default text-secondary-600"><i-tabler name="star" class="!size-4" />{{ project.stargazersCount }}</div>
                <div class="flex items-center leading-none gap-1 cursor-pointer text-secondary-600 hover:text-secondary-800" (click)="navigateToBranches(project)">
                  <i-tabler name="git-branch" class="!size-4" />{{ project.branchCount }}
                </div>
                <div class="flex items-center leading-none gap-1 cursor-pointer text-secondary-600 hover:text-secondary-800" (click)="navigateToPullRequests(project)">
                  <i-tabler name="git-pull-request" class="!size-4" />{{ project.pullRequestCount }}
                </div>
              </div>
            </div>
            <div class="flex gap-1 text-sm items-center">updated {{ project.updatedAt | timeAgo }}</div>
            {{ project.description }}
            <div class="flex-grow"></div>
            <p-divider class="mb-2 m-0" />
            <div class="text-lg font-medium">Contributors</div>
            <p-avatarGroup>
              @for (contributor of project.contributors?.slice(0, 5); track contributor.id) {
                <app-user-avatar [user]="contributor" />
              }
              @if (project.contributors?.length === 6) {
                <span class="ml-2 text-xs"> and more</span>
              }
            </p-avatarGroup>
          </div>
        }
      </div>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="2">
          <div class="flex flex-col gap-2 p-20 justify-center items-center">
            <i-tabler name="exclamation-circle" class="!size-20 text-primary" />
            <span class="font-semibold text-xl">There are currently no repositories connected to Helios.</span>
            <span>Please install the Helios GitHub App to connect your repositories.</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-dataview>
}
