@if (environmentQuery.isPending()) {
  Loading
} @else if (environmentForm) {
  <div>
    <form [formGroup]="environmentForm" (ngSubmit)="submitForm()" class="flex flex-col gap-4 w-1/3">
      <div class="flex flex-col gap-2">
        <label for="name">Environment Name</label>
        <input pInputText id="name" type="text" formControlName="name" placeholder="Your Environment" readonly />
      </div>

      <div class="flex flex-col gap-2">
        <label for="server-url">Server URL</label>
        <input pInputText id="server-url" type="text" formControlName="serverUrl" />
      </div>

      <div class="flex flex-col gap-2">
        <label for="description">Description</label>
        <input pInputText id="description" type="text" formControlName="description" />
      </div>

      <div class="flex flex-col gap-2">
        <label for="installed-apps">Installed Apps</label>
        <p-autoComplete id="installed-apps" formControlName="installedApps" [multiple]="true" [minLength]="1" fluid [typeahead]="false"> </p-autoComplete>
      </div>

      <div class="flex flex-col gap-1">
        <label for="status-check-type">Status Check</label>
        <span class="text-sm text-gray-500"> When enabled, the status check will run periodically to check the health of the environment. </span>
        <p-select id="status-check-type" class="mt-2" [options]="statusCheckTypes" formControlName="statusCheckType"></p-select>
      </div>

      @if (environmentForm.get('statusCheckType')?.value !== null) {
        <div class="flex flex-col gap-2">
          <label for="status-check-url">Status URL</label>
          <span class="text-sm text-gray-500">
            This can be the URL of the Artemis management info endpoint (if set as the status check type) or any other URL that returns a 200 status code when the environment is
            healthy.
          </span>
          <input pInputText id="status-check-url" type="text" formControlName="statusUrl" />
        </div>
      }

      <!-- Environment Enable/Disable Checkbox -->
      <div class="flex gap-2">
        <label for="enabled" class="mr-2">Enabled</label>
        <p-checkbox id="enabled" formControlName="enabled" [binary]="true"></p-checkbox>
      </div>

      <p-button type="submit">Update</p-button>
    </form>
  </div>
} @else {
  <ng-template #notFound>
    <p>Environment not found.</p>
  </ng-template>
}
