@if (environmentQuery.isPending()) {
  Loading
} @else if (environmentForm) {
  <div>
    <form [formGroup]="environmentForm" (ngSubmit)="submitForm()" class="flex flex-col gap-4 max-w-lg">
      <div class="flex flex-col gap-2">
        <label for="name">Environment Name</label>
        <input pInputText id="name" type="text" formControlName="name" placeholder="Your Environment" readonly />
      </div>

      <div class="flex flex-col gap-2">
        <label for="type">Environment Type</label>
        <p-select id="type" formControlName="type" [options]="environmentTypes" placeholder="Select Environment Type" [style]="{ width: '100%' }"></p-select>
      </div>

      <div class="flex flex-col gap-2">
        <label for="deployment-workflow">Deployment Workflow</label>
        <span class="text-sm text-gray-500"> Select a workflow to deploy to this environment. (Only active workflows are shown.) </span>
        <p-select
          id="deployment-workflow"
          formControlName="deploymentWorkflow"
          [options]="workflowOptions()"
          placeholder="Select a Deployment Workflow"
          [style]="{ width: '100%' }"
          [disabled]="workflowsQuery.isLoading()"
          [class]="environmentForm.invalid ? 'ng-dirty ng-invalid' : ''"
        >
          <ng-template #selectedItem let-workflow>
            <div class="flex items-center gap-2">
              <span>{{ workflow.file }}</span>
            </div>
          </ng-template>
          <ng-template let-workflow #item>
            <div class="flex items-center gap-2">
              <span class="font-semibold">{{ workflow.file }}</span> <span>{{ workflow.name }}</span>
            </div>
          </ng-template>
        </p-select>
        @if (workflowsQuery.isLoading()) {
          <span class="text-sm text-gray-500">Loading workflows...</span>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label for="server-url">Server URL</label>
        <input pInputText id="server-url" type="text" formControlName="serverUrl" />
      </div>

      <div class="flex flex-col gap-2">
        <label for="description">Description</label>
        <input pInputText id="description" type="text" formControlName="description" />
      </div>

      <div class="flex flex-col gap-2">
        <label for="installed-apps">Installed Apps</label>
        <p-autoComplete id="installed-apps" formControlName="installedApps" [multiple]="true" [minLength]="1" fluid [typeahead]="false"> </p-autoComplete>
      </div>

      <div class="flex flex-col gap-1">
        <label for="status-check-type">Status Check</label>
        <span class="text-sm text-gray-500"> When enabled, the status check will run periodically to check the health of the environment. </span>
        <p-select id="status-check-type" class="mt-2" [options]="statusCheckTypes" formControlName="statusCheckType"></p-select>
      </div>

      @if (environmentForm.get('statusCheckType')?.value !== null) {
        <div class="flex flex-col gap-2">
          <label for="status-check-url">Status URL</label>
          <span class="text-sm text-gray-500">
            This can be the URL of the Artemis management info endpoint (if set as the status check type) or any other URL that returns a 200 status code when the environment is
            healthy.
          </span>
          <input pInputText id="status-check-url" type="text" formControlName="statusUrl" />
        </div>
      }

      <div class="flex flex-col gap-2">
        <label for="lock-expiration-threshold">Lock Expiration Threshold</label>
        <span class="text-sm text-gray-500">
          Lock of this environment will be released after this threshold. Leave this empty if you want to use the global lock expiration threshold. Set it to -1 if you want to
          disable the lock expiration for this environment.
        </span>
        <div class="flex items-center gap-2">
          <input
            pInputText
            id="lock-expiration-threshold"
            type="number"
            formControlName="lockExpirationThreshold"
            [disabled]="!environmentForm.get('enableLockExpiration')?.value"
            class="w-full"
          />
          <span class="text-sm text-gray-500">minutes</span>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label for="lock-reservation-threshold">Lock Reservation Threshold</label>
        <span class="text-sm text-gray-500">
          Lock of this environment can be unlocked by any user after this threshold. Leave this empty if you want to use the global lock reservation threshold. Set it to -1 if you
          want to disable the lock reservation for this environment.
        </span>
        <div class="flex items-center gap-2">
          <input
            pInputText
            id="lock-reservation-threshold"
            type="number"
            formControlName="lockReservationThreshold"
            [disabled]="!environmentForm.get('enableLockReservation')?.value"
            class="w-full"
          />
          <span class="text-sm text-gray-500">minutes</span>
        </div>
      </div>

      <div class="flex gap-2">
        <label for="enabled" class="mr-2">Enabled</label>
        <p-toggleswitch id="enabled" formControlName="enabled" />
      </div>

      <!-- Cross-field validation error message -->
      @if (environmentForm.invalid) {
        <p-message severity="error">
          <ng-template #icon>
            <i-tabler name="exclamation-circle" />
          </ng-template>
          <span class="ml-2">Enabled environments must have a deployment workflow specified.</span>
        </p-message>
      }
      <p-button type="submit" [disabled]="environmentForm.invalid">Update</p-button>
    </form>
  </div>
} @else {
  <ng-template #notFound>
    <p>Environment not found.</p>
  </ng-template>
}
