<app-page-heading>
  <div heading>Privacy Policy</div>
  <div description>
    <br/>
    The <a href="https://www.tum.de" target="_blank" class="text-blue-500 hover:underline">Technical University of Munich (TUM)</a> takes the protection of your personal data very seriously and uses secure and encrypted communication according to best practices and
    state-of-the-art technologies (e.g. HTTPS with secure certificate of TUM, TLS 1.3, Strict Transport Security, Forward Secrecy, Same Site Cookie protection) to protect the
    privacy of Helios users in the best possible way. Helios processes personal data in the context of teaching and in the context of examinations in compliance with the
    applicable data protection regulations. The legal basis for the processing of data is Art. 6(1) lit. c (Legal Obligation) of the General Data Protection Regulation (GDPR). In
    addition, Art. 61 of <a href="https://www.gesetze-bayern.de/Content/Document/BayHSchG" target="_blank" class="text-blue-500 hover:underline">Bayerisches Hochschulgesetz (BayHschG)</a> as well as <a href="https://portal.mytum.de/archiv/kompendium_rechtsangelegenheiten/apso/folder_listing" target="_blank" class="text-blue-500 hover:underline">Allgemeine Prüfungs- und Studienordnung (APSO)</a> of TUM and <a href="https://www.gesetze-bayern.de/Content/Document/BayFEV" target="_blank" class="text-blue-500 hover:underline">Bayerische Fernprüfungserprobungsverordnung
    (BayFEV)</a> apply.
    <br/>
    <br/>
    In the following, we provide information on the type, scope and purpose of the collection and use of personal data. This information can be accessed at any time from our website.
  </div>
</app-page-heading>

<div>
  <div>
    <h2 class="text-xl font-semibold">General Information</h2>

    <h3 class="text-lg font-semibold mt-4">Name and contact details of the person responsible</h3>
    <p>
      Technical University of Munich<br/>
      Postal address: Arcisstrasse 21, 80333 Munich<br/>
      Telephone: +49-(0)89-289-01<br/>
      E-mail: poststelle(at)<a href="https://tum.de" class="text-blue-500">tum.de</a>
    </p>

    <h3 class="text-lg font-semibold mt-4">Name and contact details of the data protection officer</h3>
    <p>
      The data protection officer of the Technical University of Munich<br/>
      Postal address: Arcisstraße 21, 80333 Munich<br/>
      Telephone: +49-(0)89-289-17052<br/>
      E-mail: beauftragter(at)<a href="https://datenschutz.tum.de" class="text-blue-500">datenschutz.tum.de</a>
    </p>

    <h3 class="text-lg font-semibold mt-4">Purpose and legal basis for the processing of personal data</h3>
    <p>
      The purpose of the processing is to fulfill the public duties assigned to us by the legislator, in particular teaching and examination in the university environment. Unless otherwise stated, the legal basis for processing your data results from Art. 6(1) lit. c (Legal Obligation) of the General Data Protection Regulation (GDPR). In addition, Art. 61 of <a href="https://www.gesetze-bayern.de/Content/Document/BayHSchG" target="_blank" class="text-blue-500">Bayerisches Hochschulgesetz (BayHschG)</a> (BayHschG) as well as <a href="https://portal.mytum.de/archiv/kompendium_rechtsangelegenheiten/apso/folder_listing" target="_blank" class="text-blue-500">Allgemeine Prüfungs- und Studienordnung (APSO)</a> of TUM and <a href="https://www.gesetze-bayern.de/Content/Document/BayFEV" target="_blank" class="text-blue-500">Bayerische Fernprüfungserprobungsverordnung (BayFEV)</a> apply. Accordingly, we are permitted to process the data required to fulfill a duty incumbent upon us.
    </p>

    <h3 class="text-lg font-semibold mt-4">Recipients of personal data</h3>
    <p>
      The technical operation of our data processing systems is carried out by:<br/>
      Rechnerbetriebsgruppe of the Technical University of Munich<br/>
      <br/>
      Boltzmannstrasse 3<br/>
      D-85748 Garching near Munich<br/>
      Telephone: +49(0)-89-289-18018<br/>
      Email: rbg(at)<a href="https://in.tum.de" class="text-blue-500">in.tum.de</a> <br/>
      <a href="https://www.rbg.tum.de" class="text-blue-500">https://www.rbg.tum.de</a>
      <br/><br/>
      If necessary, your data will be transmitted to the responsible supervisory and auditing authorities for the exercise of the respective control rights.<br/>
      <br/>
      In order to avert risks to information technology security, data may be forwarded to the State Office for Information Technology Security in the case of electronic transmission and processed there on the basis of Art. 12 ff. of the Bavarian E-Government Act.
    </p>

    <h3 class="text-lg font-semibold mt-4">Duration of the storage of personal data</h3>
    <p>Your data will only be stored for as long as is necessary for the fulfillment of duties, taking into account statutory retention periods.</p>

    <h3 class="text-lg font-semibold mt-4">Your rights</h3>
    Insofar as we process personal data from you, you are entitled to the following rights as a data subject:
    <ul class="list-disc pl-5">
      <li>You have the right of access (Art. 15 GDPR).</li>
      <li>If incorrect personal data is processed, you have the right to rectification (Art. 16 GDPR).</li>
      <li>If the legal requirements are met, you may request the deletion or restriction of processing (Art. 17 and 18 GDPR).</li>
      <li>If you have consented to the processing or if there is a contract for data processing and the data processing is carried out with the help of automated procedures, you may have a right to data portability (Art. 20 GDPR).</li>
      <li>If you have consented to the processing and the processing is based on this consent, you can revoke the consent at any time for the future. The lawfulness of the data processing carried out on the basis of the consent until the revocation is not affected by it.</li>
    </ul>
    You have the right to object to the processing of your data at any time on grounds relating to your particular situation, if the processing is carried out exclusively on the basis of Art. 6(1) lit. e or f GDPR (Art. 21(1)(1) GDPR).

    <h3 class="text-lg font-semibold mt-4">Right to appeal at the supervisory authority</h3>
    <p>
      Furthermore, you have the right to appeal at the Bavarian State Commissioner for Data Protection. You can reach them under the following contact details:<br/>
      <br/>
      Postal address: Postfach 22 22 19, 80502 Munich, Germany.<br/>
      Address: Wagmüllerstraße 18, 80538 Munich, Germany<br/>
      Telephone: +49-(0)89-212672-0<br/>
      E-mail: poststelle(at)<a href="https://datenschutz-bayern.de" class="text-blue-500">datenschutz-bayern.de</a><br />
      <a href="https://www.datenschutz-bayern.de" class="text-blue-500">https://www.datenschutz-bayern.de</a>
    </p>

    <h4 class="text-lg font-semibold mt-4">Further Information</h4>
    <p>
      For more detailed information on the processing of your data and your rights, you can contact us using the contact details provided above (at the beginning of A.).
    </p>

    <h2 class="text-xl font-semibold mt-6">Information about the web presence</h2>

    <h3 class="text-lg font-semibold mt-4">Technical implementation</h3>
    <p>
      The web servers of Helios are operated by the
      <a href="https://www.rbg.tum.de" class="text-blue-500">Rechnerbetriebsgruppe (RBG)</a> of the Technical University of Munich. The personal data you provide when visiting our website is therefore processed on our behalf by RBG:
    </p>
    <p>
      <br/>Rechnerbetriebsgruppe Boltzmannstraße 3<br/>
      D-85748 Garching near Munich<br/>
      Telephone: +49-(0)89)-289-18018<br/>
      Email: rbg(at)<a href="https://in.tum.de" class="text-blue-500">in.tum.de</a> <br />
      <a href="https://rbg.tum.de" class="text-blue-500">https://rbg.tum.de</a>
    </p>

    <h3 class="text-lg font-semibold mt-4">Logging</h3>
    <p>When you access this or other Helios web pages, you transmit data to our web servers via your Internet browser. The following data is temporarily recorded in a log file during an ongoing connection for communication between your Internet browser and our web servers:</p>
    <br/>
    <ul class="list-disc pl-5">
      <li>IP address of the requesting computer</li>
      <li>Date and time of access</li>
      <li>Name, URL and transferred data volume of the retrieved file</li>
      <li>Access status (requested file transferred, not found, etc.)</li>
      <li>Identification data of the browser and operating system used (if transmitted by the requesting web browser)</li>
      <li>Web page from which access was made (if transmitted by the requesting web browser) The processing of the data in this log file can be done as follows:</li>
    </ul>
    <br/>
    <p>The log entries can be continuously and automatically evaluated in order to detect attacks on the web servers and react accordingly. In individual cases, i.e. in the event of reported malfunctions, errors and security incidents, a manual analysis may be carried out.</p>

    <h3 class="text-lg font-semibold mt-4">Cookies</h3>
    <p>In order to extend the range of functions of our Internet offering and to make its use more comfortable for you, we partly use so-called "cookies". With the help of these cookies, data can be stored on your computer when you call up our website. However, you can deactivate the storage of cookies or set your browser so that cookies are only stored for the duration of the respective connection to the Internet. This could, however, limit the functional scope of our offering.</p>

    <h2 class="text-xl font-semibold mt-6">Information on individual processing operations</h2>
    <h3 class="text-lg font-semibold mt-4">Login</h3>
    <p>When you log in to the system, your personal data will be verified with the directory service of the Technical University of Munich.</p>

    <h3 class="text-lg font-semibold mt-4">Disclosure and rectification</h3>
    <p>
      You have the right, upon written request and free of charge, to obtain information about the personal data stored about you. In addition, you have the right to have incorrect data corrected. You can reach the data protection officer of the Technical Univerity of Munich by e-mail at beauftragter(at)<a href="https://datenschutz.tum.de" class="text-blue-500">datenschutz.tum.de</a> or via <a href="https://datenschutz.tum.de" class="text-blue-500">www.datenschutz.tum.de</a>.
    </p>
  </div>
</div>
