<main class="h-screen overflow-hidden flex flex-col">
  <div class="px-6 py-1.5 flex items-center justify-between border-b-2 border-gray-200">
    <div class="flex items-center gap-6">
      <div class="flex items-center gap-2 cursor-pointer" routerLink="/">
        <div class="size-12">
          <app-helios-icon size="2.5rem" class="rounded-xl w-8 cursor-pointer" />
        </div>
        <div class="text-gray-700 hover:text-gray-800 text-2xl font-semibold">Helios</div>
      </div>
      @if (!isLoggedIn()) {
        <p-tag class="bg-gray-700 text-white md:block hidden" pTooltip="Login to Edit" tooltipPosition="bottom">You are currently using Helios in readonly mode</p-tag>
        <p-tag class="bg-gray-700 text-white md:hidden block" pTooltip="Login to Edit" tooltipPosition="bottom">Readonly Mode</p-tag>
      }
    </div>
    <div>
      <app-profile-nav-section [isExpanded]="true" />
    </div>
  </div>
  <div class="flex flex-grow h-[calc(100vh-3.75rem-1.5rem)]">
    <!-- Fixed Navigation Bar -->
    <div class="h-full sticky top-3 flex">
      <app-navigation-bar [repositoryId]="repositoryId()"></app-navigation-bar>
    </div>

    <!-- Scrollable Content Area -->
    <div class="flex-grow overflow-hidden h-full">
      <div class="flex flex-col justify-between overflow-auto h-full mx-auto">
        <div class="p-6">
          <router-outlet />
        </div>
      </div>
    </div>
    <p-toast></p-toast>
    <p-confirmdialog />
  </div>
  <!-- Fixed Footer -->
  <div class="sticky bottom-0 w-full">
    <app-footer></app-footer>
  </div>
</main>
