<main class="h-screen overflow-hidden" style="background-color: var(--p-content-background)">
  <div class="px-6 py-1.5 flex items-center justify-between bg-primary">
    <div class="flex items-center gap-6">
      <div class="flex items-center gap-2 cursor-pointer" styleClass="p-0" routerLink="/">
        <div class="size-9">
          <app-helios-icon size="2rem" class="rounded-xl w-8 cursor-pointer" />
        </div>
        <div class="text-white text-2xl font-semibold">
          Helios <span class="text-xs text-muted-color">{{ deployed_version }}</span>
        </div>
      </div>
      @if (!isLoggedIn()) {
        <p-tag class="md:block hidden" pTooltip="Login to Edit" severity="warn" tooltipPosition="bottom">You are currently using Helios in readonly mode</p-tag>
        <p-tag class="md:hidden block" pTooltip="Login to Edit" severity="warn" tooltipPosition="bottom">Readonly Mode</p-tag>
      }
    </div>
    <div class="flex items-center gap-1">
      <p-button (click)="toggleDarkMode()" size="small">
        @if (isDarkModeEnabled()) {
          <i-tabler name="sun" class="!size-4" />
        } @else {
          <i-tabler name="moon" class="!size-4" />
        }
      </p-button>

      <app-profile-nav-section [isExpanded]="true" />
    </div>
  </div>
  <div class="flex flex-grow h-[calc(100vh-3rem)]">
    <!-- Fixed Navigation Bar -->
    <div class="h-full sticky top-3 flex">
      <app-navigation-bar [repositoryId]="repositoryId()"></app-navigation-bar>
    </div>

    <!-- Scrollable Content Area -->
    <div class="flex-grow overflow-hidden h-full">
      <div class="flex flex-col justify-between overflow-auto h-full mx-auto">
        <div class="p-4">
          <router-outlet />
        </div>
        <!-- Scrollable Footer -->
        <app-footer></app-footer>
      </div>
    </div>
    <p-toast></p-toast>
    <p-confirmdialog />
  </div>
</main>
