<div class="relative pt-4">
  <!-- Dynamic Progress Bar always showing its percentage -->
  <p-progressbar [value]="dynamicProgress" [showValue]="true"></p-progressbar>

  <!-- Stepper Circles and Labels -->
  <div class="flex justify-between mb-4 mt-2">
    @for (step of steps; track step; let i = $index) {
      <div class="flex flex-col items-center w-1/4">
        <div class="relative">
          <!-- Step Circle -->
          <div
            [ngClass]="{
              'bg-green-500': getStepStatus(i) === 'completed',
              'bg-blue-500 animate-pulse': getStepStatus(i) === 'active',
              'bg-red-500': getStepStatus(i) === 'error',
              'bg-gray-200': getStepStatus(i) === 'upcoming',
            }"
            class="w-8 h-8 rounded-full flex items-center justify-center transition-colors duration-300"
            style="z-index: 1"
          >
            @switch (getStepStatus(i)) {
              @case ('completed') {
                <i-tabler name="check" class="text-white w-5 h-5"></i-tabler>
              }
              @case ('active') {
                <i-tabler name="progress" class="text-white w-5 h-5 animate-spin"></i-tabler>
              }
              @case ('error') {
                <i-tabler name="x" class="text-white w-5 h-5"></i-tabler>
              }
              @case ('upcoming') {
                <div class="w-5 h-5"></div>
              }
            }
          </div>

          <!-- Step Label and Time Estimate -->
          <div class="absolute top-10 left-1/2 transform -translate-x-1/2 text-center">
            @if (getStepStatus(i) === 'error') {
              <span class="text-sm font-medium text-red-500">{{ 'ERROR' }}</span>
              <div class="text-xs text-gray-500">
                {{ stepDescriptions['ERROR'] }}
              </div>
            } @else {
              <span class="text-sm font-medium text-gray-700">{{ step }}</span>
              <div class="text-xs text-gray-500">
                {{ stepDescriptions[step] }}
              </div>
              <div class="text-xs text-gray-500">
                @if (getTimeEstimate(i)) {
                  {{ getTimeEstimate(i) }} remaining
                }
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>

  <!-- Error Message (if in error state)
  @if (isErrorState) {
    <div class="mt-4 text-center text-red-500">
      <i-tabler name="alert-circle" class="w-5 h-5 mr-2"></i-tabler>
      Deployment failed - {{ deployment?.state }}
    </div>
  } -->
</div>
