@if (query.isPending() || query.isError()) {
  <p-table [value]="[1, 2, 3, 4, 5]">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="flex items-center gap-2">
            <p-button type="button" outlined disabled size="small">
              <i-tabler name="filter-plus" />
            </p-button>
            <input pInputText type="text" pSize="small" placeholder="Search" class="w-full" disabled />
          </div>
        </th>
        <th>Assignee</th>
        <th>Reviewers</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>
          <div class="flex items-center gap-2">
            <p-skeleton shape="circle" styleClass="!size-7" />
            <p-skeleton class="w-96" />
          </div>
          <div class="flex items-center gap-2 ml-1 mt-0.5">
            <p-skeleton shape="circle" styleClass="!size-5" />
            <p-skeleton class="!w-52" />
            <i-tabler name="point" class="!h-3 !w-3" />
            <p-skeleton styleClass="!w-28" />
          </div>
        </td>
        <td class="w-[0.1%]"><p-skeleton shape="circle" styleClass="!size-7" /></td>
        <td class="w-[0.1%]"><p-skeleton shape="circle" styleClass="!size-7" /></td>
        <td class="w-[0.1%]">
          <p-button text disabled>
            <i-tabler name="external-link" />
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
} @else {
  <p-table #table [rowHover]="true" [value]="filteredPrs()" [paginator]="true" [rows]="20" [globalFilterFields]="['title', 'id']">
    <ng-template #header>
      <tr>
        <th>
          <app-table-filter [table]="table" [searchTableService]="searchTableService" />
        </th>
        <th>Assignee</th>
        <th>Reviewers</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pr>
      <tr class="cursor-pointer" (click)="openPR(pr)">
        <td>
          <div class="flex flex-wrap items-center gap-2">
            <i-tabler [pTooltip]="getPrIconInfo(pr).tooltip" [name]="getPrIconInfo(pr).icon" [class]="getPrIconInfo(pr).color" />
            <span class="font-bold"><span [innerHTML]="pr.title | markdown"></span></span>
            <app-workflow-run-status [selector]="{ type: 'pullRequest', pullRequestId: pr.id }"></app-workflow-run-status>

            @for (label of pr.labels; track label.id) {
              <p-tag [value]="label.name" [rounded]="true" class="border font-medium text-xs py-0.5 whitespace-nowrap" [style]="getLabelClasses(label.color)" />
            }
          </div>
          <div class="flex mt-2.5 gap-2 items-center text-xs">
            <p-avatar [image]="pr.author?.avatarUrl" shape="circle" class="h-5 w-5" [styleClass]="getAvatarBorderClass(pr.author?.login)" />
            <span>{{ pr.author?.name }} opened #{{ pr.number }} {{ pr.createdAt | timeAgo }}</span>
            <i-tabler name="point" class="!h-3 !w-3" />
            <span>updated {{ pr.updatedAt | timeAgo }}</span>
          </div>
        </td>

        <td>
          @if (pr.assignees?.length) {
            <div class="flex align-items-center gap-2">
              <p-avatarGroup>
                @for (assignee of pr.assignees; track assignee) {
                  <p-avatar
                    [image]="assignee.avatarUrl"
                    [pTooltip]="keycloak.isCurrentUser(assignee.login) ? 'You' : assignee.name"
                    shape="circle"
                    size="normal"
                    [styleClass]="getAvatarBorderClass(assignee.login)"
                  ></p-avatar>
                }
              </p-avatarGroup>
            </div>
          }
        </td>
        <td>
          @if (pr.reviewers?.length) {
            <div class="flex align-items-center gap-2">
              <p-avatarGroup>
                @for (reviewer of pr.reviewers; track reviewer.id) {
                  <p-avatar
                    [image]="reviewer.avatarUrl"
                    [pTooltip]="keycloak.isCurrentUser(reviewer.login) ? 'You' : reviewer.name"
                    shape="circle"
                    size="normal"
                    [styleClass]="getAvatarBorderClass(reviewer.login)"
                  ></p-avatar>
                }
              </p-avatarGroup>
            </div>
          }
        </td>
        <td>
          <p-button text (click)="openPRExternal(pr)">
            <i-tabler name="external-link" />
          </p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="4">
          <div class="flex flex-col gap-2 p-20 justify-center items-center">
            <i-tabler name="git-pull-request" class="!h-20 !w-20 text-red-500" />
            <span class="font-semibold text-xl">There are no pull requests found matching your filter criteria.</span>
            <span>Try clearing the filter or reloading the page.</span>
            <p-button (click)="searchTableService.clearFilter(table)">Clear Filter</p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
