<div class="flex flex-col">
  <span class="text-xs uppercase tracking-tighter font-bold text-gray-500 mb-2">Latest status check</span>

  <div class="flex items-center justify-between">
    <span class="text-sm font-medium text-gray-700">Last Checked:</span>
    <span class="text-sm text-gray-500">
      {{ status().checkedAt || 'Never' | timeAgo }}
    </span>
  </div>
  <div class="flex items-center justify-between mt-1">
    <span class="text-sm font-medium text-gray-700">Status Code:</span>
    <span class="text-sm text-gray-500">
      {{ status().statusCode || 'N/A' }}
    </span>
  </div>

  @if (status().checkType === 'ARTEMIS_INFO') {
    <span class="text-xs uppercase tracking-tighter text-gray-500 mt-3">Artemis Build</span>
    @for (
      item of [
        { label: 'Name', value: artemisBuildInfo().name },
        { label: 'Group', value: artemisBuildInfo().group },
        { label: 'Version', value: artemisBuildInfo().version },
        { label: 'Build Time', value: artemisBuildInfo().buildTime },
      ];
      track item.label
    ) {
      <div class="flex items-center justify-between mt-1">
        <span class="text-sm font-medium text-gray-700">{{ item.label }}:</span>
        <span class="text-sm text-gray-500">{{ item.value || '-/-' }}</span>
      </div>
    }
  }
</div>
