<app-page-heading [repositoryId]="repositoryId()">
  <div class="flex justify-between items-center w-full" heading>
    <div>Environment Edit</div>
  </div>
  <span description> Here, you can update the details of the environment. Please note that the changes you make will only be reflected in Helios and will not affect the environment in the GitHub repository. No requests or modifications are made to the repository's environment settings.</span>
</app-page-heading>

<app-environment-edit-form [environmentId]="id()"></app-environment-edit-form>
