<section class="bg-white flex items-center justify-center h-full mx-auto flex-grow">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="text-center">
      <i class="pi pi-exclamation-triangle text-6xl text-yellow-500 mb-4"></i>

      <h1 class="text-4xl font-bold text-900 mb-2">Unauthorized Access</h1>

      <p class="text-600 mb-5">Sorry, you don't have permission to access this page. Please contact your administrator if you think this is a mistake.</p>

      <p-button label="Go Home" (onClick)="navigateToHome()"></p-button>
    </div>
  </div>
</section>
