<section class="bg-white dark:bg-surface-900 flex items-center justify-center h-screen mx-auto flex-grow">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary dark:text-primary">401</h1>
    <p class="mb-4 text-3xl tracking-tight font-bold text-surface-900 dark:text-surface-100 md:text-4xl">Unauthorized Access</p>
    <p class="mb-4 text-lg font-light text-muted-color">Sorry, you don't have permission to access this page. Please contact your administrator if you think this is a mistake.</p>

    <p-button label="Go Home" (onClick)="navigateToHome()"></p-button>
  </div>
</section>
