<p-dialog [(visible)]="isVisible" [modal]="true" [style]="{ width: '28rem' }" draggable="false" (onHide)="onCancel()">
  <ng-template #header>
    <div class="font-bold text-xl flex items-center gap-2">
      <i-tabler name="key" class="!size-5 flex-shrink-0" />
      Generate secret
    </div>
  </ng-template>

  <div class="flex flex-col gap-4 text-sm">
    <div class="flex gap-3 p-4 bg-red-50 dark:bg-red-900/40 ring-1 ring-red-200 dark:ring-red-700 rounded">
      <i-tabler name="alert-triangle" class="!size-6 shrink-0 text-red-600 dark:text-red-300" />
      <p>
        You are about to <span class="font-semibold">generate the secret key</span>. The current secret will <span class="font-semibold">stop working immediately</span>. Make sure
        to update your CI/CD secret store right after generating a new one. It is displayed <b>only once</b>—copy it immediately.
      </p>
    </div>
  </div>

  <ng-template #footer>
    <div class="flex justify-between w-full">
      <p-button label="Cancel" [text]="true" (click)="onCancel()" />
      <p-button label="Generate" severity="danger" (click)="onGenerate()" />
    </div>
  </ng-template>
</p-dialog>
