@if (jobs().length > 0 && !deploymentSuccessful()) {
  <div class="workflow-jobs-status w-full mb-4">
    <div class="flex justify-between items-center mb-3">
      <h3 class="text-lg font-medium">Job Status</h3>
    </div>

    <app-workflow-job-list [jobs]="jobs()" />

    @if (deploymentUnsuccessful() && !!latestDeployment()?.workflowRunHtmlUrl) {
      <div class="flex-col w-full justify-items-center">
        <div class="text-red-600 text-sm mb-2">Some jobs failed. Please check the details below.</div>
        <app-github-link-button [url]="latestDeployment()?.workflowRunHtmlUrl" label="Open Workflow Run on GitHub" />
      </div>
    }
  </div>
}
