<div class="container mx-auto p-4">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Your Repositories</h1>
        <p-button label="Connect Repository" icon="pi pi-plus" (click)="showDialog()" size="small"
            class="p-button-success" [loading]="loading()"></p-button>
    </div>

    <div class="card">
        <div class="border rounded-md">
            @for (item of repositories(); track item.id; let idx = $index, first = $first) {
            <div class="flex justify-between items-center border-b p-4 gap-2 cursor-pointer hover:bg-slate-50"
                (click)="navigateToProject(item)">
                <div class=" flex flex-col ">
                    <div class="text-xl font-medium mt-2">
                        {{ item.name }}
                        <span class="text-sm "><p-tag value="Public" [rounded]="true" severity="secondary" /></span>
                    </div>
                    <div class="text-base text-600">{{ item.description }}</div>
                </div>
                <div class="mr-2">
                    <i-tabler name="chevron-right"></i-tabler>
                </div>
            </div>}
        </div>
    </div>
    <app-connect-repo></app-connect-repo>
</div>