<div class="p-4">
  <!-- Loading State -->
  @if (deploymentsQuery.isPending()) {
    <p-table [value]="[1, 2, 3, 4, 5]" styleClass="p-datatable-lg">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Commit SHA</th>
          <th>State</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body">
        <tr>
          <td><p-skeleton width="10rem"></p-skeleton></td>
          <td><p-skeleton width="5rem"></p-skeleton></td>
          <td><p-skeleton width="10rem"></p-skeleton></td>
        </tr>
      </ng-template>
    </p-table>
  } @else if (deploymentsQuery.isError()) {
    <!-- Error State -->
    <div class="text-red-500">Error occurred while fetching deployments.</div>
  } @else if (deploymentsQuery.data()?.length === 0) {
    <!-- Empty State -->
    <div class="text-gray-500">No deployments found.</div>
  } @else {
    <!-- Data Table -->
    <p-table [value]="deployments() || []" styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Commit SHA</th>
          <th>State</th>
          <th>Deployed On</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-deployment>
        <tr>
          <td>
            <div class="flex align-items-center gap-2">
              <i-tabler name="git-branch"></i-tabler>
              <span>{{ deployment.ref }}</span>
            </div>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <i-tabler name="git-commit"></i-tabler>
              <span>{{ deployment.sha?.slice(0, 7) }}</span>
            </div>
          </td>
          <td>
            <div class="flex align-items-center gap-2">
              <span>{{ deployment.state }}</span>
            </div>
          </td>
          <td>
            <span>{{ dateService.formatDate(deployment.updatedAt, 'd MMMM y, h:mm a') }}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>
