<div class="flex items-center gap-1">
  <p-tag [severity]="getSeverity()" [rounded]="rounded()" [pTooltip]="!verbose() ? getTooltip() : undefined" [value]="verbose() ? getValue() : undefined">
    <div class="flex items-center gap-2">
      <i-tabler [name]="getIcon()" [class]="getIconClass()"></i-tabler>
    </div>
  </p-tag>

  @if (showLatestDeployment() && latestDeployment()) {
    <span>now at</span>
    <p-tag class="text-xs">
      <i-tabler name="git-branch" class="!size-4" />
      {{ latestDeployment()?.releaseCandidateName ?? latestDeployment()?.ref }}
    </p-tag>
  }
</div>
