name: Build Docker Image

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: ./client/Dockerfile
            image: ghcr.io/ls1intum/helios/client
            context: ./client
            path: client
          - dockerfile: ./server/application-server/Dockerfile
            image: ghcr.io/ls1intum/helios/application-server
            context: ./server/application-server
            path: server
          - dockerfile: ./server/webhook-listener/Dockerfile
            image: ghcr.io/ls1intum/helios/webhook-listener
            context: ./server/webhook-listener
            path: webhook-listener
          - dockerfile: ./keycloakify/Dockerfile
            image: ghcr.io/ls1intum/helios/keycloak
            context: ./keycloakify
            path: keycloakify
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Install Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ matrix.image }}
          tags: |
            # Apply 'latest' tag if the branch is main
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            type=ref,event=branch
            type=ref,event=pr
            type=sha,suffix=-${{ github.ref_name }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            ${{ matrix.path == 'client' && github.ref_name == 'main' && 'BUILD_CONFIG=production' || matrix.path == 'client' && github.ref_name == 'staging' && 'BUILD_CONFIG=staging' || '' }}
