name: Deploy Docker Image

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      client_image_tag:
        default: "latest"
        type: string
      application_server_image_tag:
        default: "latest"
        type: string
      notification_server_image_tag:
        default: "latest"
        type: string
      webhook_listener_image_tag:
        default: "latest"
        type: string
      keycloak_image_tag:
        default: "latest"
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
    steps:
      - name: SSH to VM and Execute Docker-Compose Down
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ vars.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_PRIVATE_KEY }}
          proxy_host: ${{ vars.DEPLOYMENT_GATEWAY_HOST }}
          proxy_username: ${{ vars.DEPLOYMENT_GATEWAY_USER }}
          proxy_key: ${{ secrets.DEPLOYMENT_GATEWAY_SSH_KEY }}
          proxy_port: ${{ vars.DEPLOYMENT_GATEWAY_PORT }}
          script_stop: true
          script: |
            cd ${{ vars.WORKING_DIR }}
            docker compose -f compose.prod.yaml down --remove-orphans --rmi all

      - name: checkout
        uses: actions/checkout@v5

      - name: Copy Docker Compose File From Repo to VM Host
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ vars.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_PRIVATE_KEY }}
          proxy_host: ${{ vars.DEPLOYMENT_GATEWAY_HOST }}
          proxy_username: ${{ vars.DEPLOYMENT_GATEWAY_USER }}
          proxy_key: ${{ secrets.DEPLOYMENT_GATEWAY_SSH_KEY }}
          proxy_port: ${{ vars.DEPLOYMENT_GATEWAY_PORT }}
          source: "./compose.prod.yaml"
          target: ${{ vars.WORKING_DIR }}

      - name: SSH to VM and create .env file
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ vars.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_PRIVATE_KEY }}
          proxy_host: ${{ vars.DEPLOYMENT_GATEWAY_HOST }}
          proxy_username: ${{ vars.DEPLOYMENT_GATEWAY_USER }}
          proxy_key: ${{ secrets.DEPLOYMENT_GATEWAY_SSH_KEY }}
          proxy_port: ${{ vars.DEPLOYMENT_GATEWAY_PORT }}
          script_stop: true
          script: |
            cd ${{ vars.WORKING_DIR }}
            touch .env
            echo "ENVIRONMENT=${{ vars.ENVIRONMENT }}" > .env
            echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> .env
            echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
            echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env
            echo "SPRING_PROFILES_ACTIVE=${{ vars.SPRING_PROFILES_ACTIVE }}" >> .env
            echo "DATASOURCE_URL=${{ secrets.DATASOURCE_URL }}" >> .env
            echo "DATASOURCE_USERNAME=${{ secrets.DATASOURCE_USERNAME }}" >> .env
            echo "DATASOURCE_PASSWORD=${{ secrets.DATASOURCE_PASSWORD }}" >> .env
            echo "NATS_SERVER=${{ secrets.NATS_SERVER }}" >> .env
            echo "NATS_AUTH_TOKEN=${{ secrets.NATS_AUTH_TOKEN }}" >> .env
            echo "NATS_DURABLE_CONSUMER_NAME=${{ vars.NATS_DURABLE_CONSUMER_NAME }}" >> .env
            echo "NATS_CONSUMER_INACTIVE_THRESHOLD_MINUTES=${{ vars.NATS_CONSUMER_INACTIVE_THRESHOLD_MINUTES }}" >> .env
            echo "NATS_CONSUMER_ACK_WAIT_SECONDS=${{ vars.NATS_CONSUMER_ACK_WAIT_SECONDS }}" >> .env
            echo "WEBHOOK_SECRET=${{ secrets.WEBHOOK_SECRET }}" >> .env
            echo "REPOSITORY_NAME=${{ vars.REPOSITORY_NAME }}" >> .env
            echo "ORGANIZATION_NAME=${{ vars.ORGANIZATION_NAME }}" >> .env
            echo "GITHUB_AUTH_TOKEN=${{ secrets.GH_AUTH_TOKEN }}" >> .env
            echo "RUN_ON_STARTUP_COOLDOWN=${{ vars.RUN_ON_STARTUP_COOLDOWN }}" >> .env
            echo "SENTRY_DSN=${{ vars.SENTRY_DSN }}" >> .env
            echo "DATA_SYNC_RUN_ON_STARTUP=${{ vars.DATA_SYNC_RUN_ON_STARTUP }}" >> .env
            
            echo "KC_BOOTSTRAP_ADMIN_USERNAME=${{ secrets.KC_BOOTSTRAP_ADMIN_USERNAME }}" >> .env
            echo "KC_BOOTSTRAP_ADMIN_PASSWORD=${{ secrets.KC_BOOTSTRAP_ADMIN_PASSWORD }}" >> .env
            echo "KC_HOSTNAME=${{ vars.KC_HOSTNAME }}" >> .env
            echo "KC_HTTP_ENABLED=${{ vars.KC_HTTP_ENABLED }}" >> .env
            
            echo "OAUTH_ISSUER_URL=${{ vars.OAUTH_ISSUER_URL }}" >> .env

            echo "GITHUB_APP_NAME=${{ vars.GH_APP_NAME }}" >> .env
            echo "GITHUB_APP_ID=${{ secrets.GH_APP_ID }}" >> .env
            echo "GITHUB_CLIENT_ID=${{ secrets.GH_CLIENT_ID }}" >> .env
            echo "GITHUB_INSTALLATION_ID=${{ vars.GH_INSTALLATION_ID }}" >> .env
            echo "GITHUB_PRIVATE_KEY_PATH=${{ secrets.GH_PRIVATE_KEY_PATH }}" >> .env

            echo "CLIENT_IMAGE_TAG=${{ inputs.client_image_tag }}" >> .env
            echo "APPLICATION_SERVER_IMAGE_TAG=${{ inputs.application_server_image_tag }}" >> .env
            echo "NOTIFICATION_SERVER_IMAGE_TAG=${{ inputs.notification_server_image_tag }}" >> .env
            echo "WEBHOOK_LISTENER_IMAGE_TAG=${{ inputs.webhook_listener_image_tag }}" >> .env
            echo "KEYCLOAK_IMAGE_TAG=${{ inputs.keycloak_image_tag }}" >> .env

            echo "HELIOS_TOKEN_EXCHANGE_CLIENT=${{ secrets.HELIOS_TOKEN_EXCHANGE_CLIENT }}" >> .env
            echo "HELIOS_TOKEN_EXCHANGE_SECRET=${{ secrets.HELIOS_TOKEN_EXCHANGE_SECRET }}" >> .env 
            
            echo "MAIL_HOST=${{ vars.MAIL_HOST }}" >> .env
            echo "MAIL_PORT=${{ vars.MAIL_PORT }}" >> .env
            echo "EMAIL_ENABLED=${{ vars.EMAIL_ENABLED }}" >> .env
            echo "EMAIL_FROM=${{ vars.EMAIL_FROM }}" >> .env
            
            echo "CLEANUP_WORKFLOW_RUN_DRY_RUN=${{ vars.CLEANUP_WORKFLOW_RUN_DRY_RUN }}" >> .env
            echo "HELIOS_ENVIRONMENT_NAME=${{ vars.HELIOS_ENVIRONMENT_NAME }}" >> .env
            echo "HELIOS_PROD_SECRET_KEY=${{ secrets.HELIOS_PROD_SECRET_KEY }}" >> .env
            echo "HELIOS_STAGING_SECRET_KEY=${{ secrets.HELIOS_STAGING_SECRET_KEY }}" >> .env
            

      - name: SSH to VM and Execute Docker-Compose Up
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ vars.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_PRIVATE_KEY }}
          proxy_host: ${{ vars.DEPLOYMENT_GATEWAY_HOST }}
          proxy_username: ${{ vars.DEPLOYMENT_GATEWAY_USER }}
          proxy_key: ${{ secrets.DEPLOYMENT_GATEWAY_SSH_KEY }}
          proxy_port: ${{ vars.DEPLOYMENT_GATEWAY_PORT }}
          script: |
            cd ${{ vars.WORKING_DIR }}
            docker compose -f compose.prod.yaml --env-file=.env up --pull=always -d
            docker restart nginx
