name: Build and Deploy to Prod

on:
  push:
    branches:
      - main
      # TODO: remove below
      - 66-setup-helios-deployment

jobs:
  build-prod-container:
    uses: ./.github/workflows/build_docker.yml
    secrets: inherit
    with:
      environment: production
