name: Build and Deploy to Prod

on:
  push:
    branches:
      - main
  # TODO: remove below
  pull_request:
    branches:
        - main
    types: [ opened, reopened, edited, synchronize ]

jobs:
  build-prod-container:
    if: github.event.pull_request.head.ref == '66-setup-helios-deployment'
    uses: ./.github/workflows/build_docker.yml
    secrets: inherit
    with:
      environment: production
