name: Linting
on: [pull_request]
jobs:
  checkstyle:
    name: Linting Server (Java)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dbelyaev/action-checkstyle@master
  build:
    name: Linting Client (Angular)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install modules
        working-directory: ./client
        run: yarn
      - name: Run ESLint
        working-directory: ./client
        run: npx eslint --max-warnings 0 .
