name: Release Helios starter to GitHub Packages and Maven Central

on:
  workflow_dispatch:
    inputs:
      releaseversion:
        description: 'Release version'
        required: true
        default: '0.0.1-SNAPSHOT'

env:
  VERSION: ${{ github.event.inputs.releaseversion }}

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: publish-maven

    permissions:
      contents: read
      packages: write

    steps:
      - run: echo "Will start a Maven-Central/GitHub-Actions upload with version ${{ github.event.inputs.releaseversion }}"
      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Set project's Maven version
        run: mvn versions:set "-DnewVersion=${{ github.event.inputs.releaseversion }}" --no-transfer-progress
      - name: Build with Maven
        run: mvn -B clean package -DskipTests=true
      # https://github.com/ls1intum/Helios/packages
      - name: Publish to GitHub Packages Apache Maven
        run: mvn deploy -DskipTests=true
        env:
          # GITHUB_TOKEN is the default env for the password
          GITHUB_TOKEN: ${{ github.token }}

      - name: Set up Apache Maven Central
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          cache: 'maven'

      # https://central.sonatype.com/publishing/deployments
      - name: Publish package
        run: mvn -B deploy -Pcentral-deploy -DskipTests=true
        env:
          MAVEN_USERNAME: ${{ secrets.OSS_SONATYPE_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSS_SONATYPE_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

