name: Release to Sentry

on:
  workflow_call:
    inputs:
      client_image_tag:
        default: "latest"
        type: string

jobs:
  release-client-sentry:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run
        uses: tj-actions/docker-run@bafff4f9cddea7b4f878ae35cec05cf21d611112
        id: docker-run
        with:
          image: ghcr.io/ls1intum/helios/client:${{ inputs.client_image_tag }}
          name: client-build
          options: -d
          args: sleep 10
      - name: Copy from container to host
        uses: tj-actions/docker-cp@19c4fe6290ca6b046eeb91fcae1cabc1db517088
        with:
          container: ${{ steps.docker-run.outputs.container-id }}
          source: /usr/share/nginx/html
          destination: ./dist
      - name: Create Sentry release for Client
        uses: getsentry/action-release@f176a77e46990ff652976f0b736fac2d3fc370c3
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_CLIENT_PROJECT }}
          SENTRY_URL: ${{ secrets.SENTRY_URL }}
        with:
          environment: production
          version: ${{ github.ref_name }}
          sourcemaps: "./dist"
  release-server-sentry:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create Sentry release for Server
        uses: getsentry/action-release@f176a77e46990ff652976f0b736fac2d3fc370c3
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_SERVER_PROJECT }}
          SENTRY_URL: ${{ secrets.SENTRY_URL }}
        with:
          environment: production
          version: ${{ github.ref_name }}