name: Renovate Bot

on:
  workflow_dispatch:
  schedule:
    # Runs Renovate daily at midnight
    - cron: "0 0 * * *"
  push:
    paths:
      - ".github/renovate.json"

concurrency: renovate
jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Renovate
        uses: renovatebot/github-action@v41.0.2
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: 'debug'
          # Repository taken from variable to keep configuration file generic
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          # Onboarding not needed for self-hosted
          RENOVATE_ONBOARDING: "false"
