name: Renovate Bot

on:
  workflow_dispatch:
  schedule:
    # Runs Renovate daily at midnight
    - cron: "0 0 * * *"
  push:
    paths:
      - ".github/renovate.json"

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Renovate
        uses: renovatebot/github-action@v41.0.2
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: 'debug'