name: Renovate Bot

on:
  workflow_dispatch:
#  schedule:
#    # Runs Renovate weekly on Mondays at 11 AM
#    - cron: "0 11 * * 1"

concurrency: renovate
jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Renovate
        uses: renovatebot/github-action@v42.0.5
        with:
          configurationFile: ".github/renovate.json"
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: 'debug'
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ONBOARDING: "false"
          RENOVATE_COMMIT_MESSAGE_PREFIX: "chore(deps):"
