name: Unit and Integration Tests
on:
  pull_request:
    branches: [main]
    types: [opened, reopened, edited, synchronize]

jobs:
    client-tests:
        runs-on: ubuntu-latest
        timeout-minutes: 30
        defaults:
          run:
            working-directory: 'client'
        steps:
        - uses: actions/checkout@v4
        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
              cache: 'npm'
        - name: Install Dependencies
          run: npm install
        - name: Run Client Unit Tests
          run: npm run test:unit:ci
        - name: Upload Client Test Coverage Report
          if: success() || failure()
          uses: actions/upload-artifact@v4
          with:
              name: Coverage Report Client Tests
              path: coverage/